﻿@{
    ViewBag.Title = "Transaction Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@Html.AntiForgeryToken()

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #f68c1f;
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }
</style>

<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Transactions</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.TransactionReport,new { Area=""})">Transaction Report</a>

            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <input type="hidden" id="checklog" />
                        <div class="tools col-md-12"></div>
                    </div>
                    <div class="portlet-body" id="divCustomerTable">
                        <table class="table table-striped table-bordered table-hover" id="CustomerTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="by_jobsearch" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Advance Search</h6>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div>
                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-12">
                                        <label>Shipper</label>
                                        <div class="form-group ">
                                            @Html.DropDownList("SearchShipperId", (IEnumerable<SelectListItem>)ViewBag.MasterShipper, "All ", new { @Id = "SearchShipperId", @class = "form-control show-tick ms select2" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label>Carrier</label>
                                        <div class="form-group ">
                                            @Html.DropDownList("SearchCarrierId", (IEnumerable<SelectListItem>)ViewBag.MasterCarrier, "All ", new { @Id = "SearchCarrierId", @class = "form-control show-tick ms select2" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label>From Date</label>
                                        <div class="form-group ">
                                            <input type="text" id="SearchFromDate" class="form-control" placeholder="Enter From Date">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label>To Date</label>
                                        <div class="form-group ">
                                            <input type="text" id="SearchToDate" class="form-control" placeholder="Enter To Date">
                                        </div>
                                    </div>                                

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary saveBtn" onclick="TransactionSearch();">Search</button>
                    <button class="btn btn-primary loading" type="button" disabled="" style="        display: none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Searching...
                    </button>
                    <button type="button" class="btn btn-secondary closeBtn" onclick="TransactionReset();">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>


@*<div class="modal animated fadeIn" id="upsert" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="smallModalLabel">Payment Details</h6>
            </div>

            <div class="modal-body">
                <form class="form-auth-small" method="post" id="frmClient">
                    <div class="row clearfix">
                        <input type="hidden" id="Id" />
                        <input type="hidden" id="JobId" />
                        <div class="col-12 RecieptUpload">
                            <div class="form-group">
                                <input type="file" id="FileUpload" name="FileUpload" class="dropify">
                                <div class="mt-3"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                @Html.Raw(@Html.DropDownList("PaidByUserType", (IEnumerable<SelectListItem>)ViewBag.PaymentFromUserType, "Select Payment From", new { @Id = "PaidByUserType", @class = "form-control show-tick ms select2" }).ToString())
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                @Html.Raw(@Html.DropDownList("PaidToUserType", (IEnumerable<SelectListItem>)ViewBag.PaymentToUserType, "Select Payment To", new { @Id = "PaidToUserType", @class = "form-control show-tick ms select2" }).ToString())
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="text" id="Amount" name="Amount" class="form-control" placeholder="Amount*">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                @Html.Raw(@Html.DropDownList("Type", (IEnumerable<SelectListItem>)ViewBag.Type, "Select Type", new { String = "Type", @class = "form-control show-tick ms select2" }).ToString())
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="text" id="PaymentDate" name="PaymentDate" class="form-control" placeholder="Payment Date*">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                @Html.Raw(@Html.DropDownList("IsRecieved", (IEnumerable<SelectListItem>)ViewBag.IsRecieved, "Select Status", new { String = "IsRecieved", @class = "form-control show-tick ms select2" }).ToString())
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <textarea rows="3" id="Note" name="Note" class="form-control" placeholder="Note*">
                                  </textarea>
                            </div>
                        </div>

                        @*<div class="col-md-4 col-sm-12">
            <div class="form-group">
                @Html.Raw(@Html.DropDownList("IsRecieved", (IEnumerable<SelectListItem>)ViewBag.IsRecieved, "Select Status", new { Boolean = "IsRecieved", @class = "form-control show-tick ms select2" }))
            </div>
        </div>*@

@*<div class="col-12" style="text-align:right;">
                                <input type="submit" id="Save" class="btn btn-primary saveBtn" value="Save">
                                <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Saving...
                                </button>
                                <button type="button" class="btn btn-secondary closeBtn" onclick="CloseUpsert();" id="Close">Close</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@

@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}


@section Scripts {
    <script>
        jQuery(document).ready(function () {
             $("#Id").val(@ViewBag.Id);
            @*$("#JobId").val(@ViewBag.JobId);*@
            TableDatatablesColreorder.init();
            //FormClientValidation.init();
        });

        function OpenTransactionFilters() {
            $("#by_jobsearch").modal("show");
        }

        function TransactionSearch() {
            $("#by_jobsearch").modal("hide");
            TableDatatablesColreorder.init();
        }

        function TransactionReset() {
            $("#SearchShipperId").val(0);
            $("#SearchCarrierId").val(0);           
            $("#SearchFromDate").val('');
            $("#SearchToDate").val('');
            $("#by_jobsearch").modal("hide");
            TableDatatablesColreorder.init();
        }


        var TableDatatablesColreorder = function () {

     var initTable1 = function () {
        var table = $('#CustomerTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindData, Controllers.TransactionReport, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                { "title": "Job Number", "data": "JobNo", "orderable": false, "width": "1%" },
                //{
                //    "title": "JobNumber", "data": "",
                //    "render": function (data, type, row) {
                //        if (row["IsPaymentExists"] == false) {
                //            return 'Not Exists';
                //        } else {
                //            var htmlData = '';
                //            htmlData += '<p>' + row["JobNo"] + '</p>';
                //            return htmlData;
                //        }
                //    },
                //    "orderable": false, "width": "1%"
                //},
                {
                    "title": "Shipper Details", "data": "",
                    "render": function (data, type, row) {                       
                            var htmlData = '';
                            htmlData += '<p> <b>Name: </b>' + row["ShipperName"] + '</p>';
                            htmlData += '<p> <b>Email: </b>' + row["ShipperEmail"] + '</p>';
                            htmlData += '<p> <b>Phone Number: </b>' + row["ShipperPhoneNumber"] + '</p>';
                            return htmlData;
                      
                    },
                    "orderable": false, "width": "1%"
                },
                {
                    "title": "Carrier Details", "data": "",
                    "render": function (data, type, row) {                       
                            var htmlData = '';
                            htmlData += '<p><b> Name: </b>' + row["CarrierName"] + '</p>';
                            htmlData += '<p> <b>Email: </b>' + row["CarrierEmail"] + '</p>';
                            htmlData += '<p><b> Phone Number: </b>' + row["CarrierPhoneNumber"] + '</p>';
                            return htmlData;
                      
                    },
                    "orderable": false, "width": "1%"
                },
                  {
                      "title": "Paid By", "data": "",
                    "render": function (data, type, row) {
                        if (row["IsPaymentExists"] == false) {
                            return 'Not Exists';
                        } else {
                            var htmlData = '';
                            htmlData += '<p>' + row["PaidByUserTypeName"] + '</p>';
                            return htmlData;
                        }
                    },
                    "orderable": false, "width": "1%"
                },
                  {
                      "title": "Paid To", "data": "",
                      "render": function (data, type, row) {
                          if (row["IsPaymentExists"] == false) {
                              return 'Not Exists';
                          } else {
                              var htmlData = '';
                              htmlData += '<p>' + row["PaidToUserTypeName"] + '</p>';
                              return htmlData;
                          }
                      },
                      "orderable": false, "width": "1%"
                  },  
                  {
                      "title": "Amount ($)", "data": "",
                      "render": function (data, type, row) {
                          if (row["IsPaymentExists"] == false) {
                              return 'Not Exists';
                          } else {
                              var htmlData = '';
                              htmlData += '<p>' + row["Amount"] + '</p>';
                              return htmlData;
                          }
                      },
                      "orderable": false, "width": "1%"
                  },
                  {
                      "title": "Transaction Date", "data": "",
                      "render": function (data, type, row) {
                          if (row["IsPaymentExists"] == false) {
                              return 'Not Exists';
                          } else {
                              var htmlData = '';
                              htmlData += '<p>' + row["PaymentDate"] + '</p>';
                              return htmlData;
                          }
                      },
                      "orderable": false, "width": "1%"
                  },
                  {
                      "title": "Payment Type", "data": "",
                      "render": function (data, type, row) {
                          if (row["IsPaymentExists"] == false) {
                              return 'Not Exists';
                          } else {
                              var htmlData = '';
                              htmlData += '<p>' + row["Type"] + '</p>';
                              return htmlData;
                          }
                      },
                      "orderable": false, "width": "1%"
                  },
                {
                    "title": "Status", "data": "",
                    "render": function (data, type, row) {
                        if (row["IsRecieved"]) {
                            return '<button class="badge badge-success" style="cursor:pointer;">Received</button>';
                        } else {
                            return '<button class="badge badge-danger" style="cursor:pointer;">Not-Received</button>';
                        }
                    },
                    "orderable": false, "width": "3%"
                },

               //{
               //     "title": "Action",
               //     "data": null,
               //     "render": function (data, type, row) {
               //         var appendstring = '';
               //         appendstring += '<a onclick=OpenAddNewItem(' + row["Id"] + ') class="btn btn-sm btn-outline-secondary" style="cursor:pointer;" title="Edit Payment Details"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;';
               //         appendstring += '<a  class="btn btn-sm btn-outline-secondary" style="cursor:pointer;" onclick=ConfirmMessage("' + btoa(row["Id"]) + '") title="Delete Payment Details"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;';

               //         return appendstring;
               //     },
               //     "width": "3%",
               //     "orderable": false,
               //     "class": "action-icons"
               // }
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                {
                    text: 'Advance Search',
                    className: 'addFilters',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        OpenTransactionFilters();
                    }
                },
                { extend: 'excel', className: 'addFilters' }

            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#CustomerTable")) {
                $('#CustomerTable').dataTable().fnDestroy();
                $('#divCustomerTable').html('<table class="table table-striped" width="100%" id="CustomerTable"></table>');
            }
            initTable1();
        }
    };

}();

        function BuildSearchCriteria() {
            try {
                var param = {};
                param["ShipperId"] = $("#SearchShipperId").val();
                param["CarrierId"] = $("#SearchCarrierId").val();
                param["FromDate"] = $("#SearchFromDate").val();
                param["ToDate"] = $("#SearchToDate").val();
                @*param["JobId"] = @ViewBag.JobId;*@
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        function ConfirmMessage(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be deleting the Payment Master code !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                    DeletePaymentMaster(Id);
            });
        }







        function InactiveMessage(Id) {
        swal({
            title: "Are you sure ?",
            text: "You will be change payment recieved to not recieved !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ActInact(Id,"inactivate");
        });
    }

        //confirmation toaster
    function ActiveMessage(Id) {
        swal({
            title: "Are you ?",
            text: "You will be change payment not recieved to recieved!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ActInact(Id,"activate");
        });
        }


        //ajax call function
        function ActInact(rui, type) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ActInact,Controllers.PaymentMaster)',
                data: ({ ri: rui }),
                dataType: 'json',
                success: function (response) {
                    if (type == "inactivate") {
                        swal("In Activated !", "Payment Not Recieved.", "success");
                    } else if (type == "activate") {
                        swal("Activated !", "Payment Recieved successfully.", "success");
                    }
                    TableDatatablesColreorder.init();
                },
                error: function (error) {
                    if (type == "inactivate") {
                        swal("Error !", "An error occured while Payment Not Recieved.", "error");
                    } else if (type == "activate") {
                        swal("Error !", "An error occured while Payment Recieved", "error");
                    }
                    // refresh the grid.
                    TableDatatablesColreorder.init();
                }
            });
        }


        function CloseUpsert() {
        $("#Id").val(0);
        $("#JobId").val('');
        $("#PaidByUserType").val('');
        $("#Amount").val('');
        $("#Type").val('');
        $("#PaidToUserType").val('');
        $("#Note").val('');
        $("#PaymentDate").val('');
        $("#Url").val('');
        $("#IsRecieved").val('');
        $("#FileUpload").val('');
        $('.RecieptUpload .dropify-wrapper .dropify-preview').css({ "display": "none" });
        $('.RecieptUpload .dropify-wrapper .dropify-preview .dropify-render > img').remove();
        $('.RecieptUpload .dropify-wrapper .dropify-preview .dropify-render').find("img").attr("src", '');
        $(".saveBtn").show();
        $(".loading").hide();
        $(".closeBtn").show();
        $("#upsert").modal("hide");

    }
    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}