﻿@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@using CargoXpress.Entities.V1;
@Html.AntiForgeryToken()

@model Carriers


@{
    ViewBag.Title = "Carrier Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #f68c1f;
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .dt-buttons {
        visibility: hidden;
    }
</style>


<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2 id="headingtext"><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Carrier Details</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-speedometer"></i></a>
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Carriers,new { Area=""})">Manage Carriers</a>
                <li class="breadcrumb-item active" id="breadcrum">@Model.FirstName @Model.LastName 's Details</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <div class="body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" id="Details" data-toggle="tab" href="#details">Details</a></li>
                        <li class="nav-item"><a class="nav-link" id="Documents" data-toggle="tab" href="#documents">Documents</a></li>
                        @*<li class="nav-item"><a class="nav-link" id="Trucks" data-toggle="tab" href="#trucks">Truck Services</a></li>*@
                        <li class="nav-item"><a class="nav-link" id="Destinations" data-toggle="tab" href="#destinations">Preferred Destinations</a></li>
                        <li class="nav-item"><a class="nav-link" id="Plans" data-toggle="tab" href="#plans">Subscription Plans</a></li>
                    </ul>
                    <div class="tab-content mt-2">
                        <div class="tab-pane active" id="details">
                            <div>
                                <div class="row clearfix">
                                    <div class="col-md-4 offset-md-8 align-right">
                                        <div class="form-group">
                                            <label>Status : </label>
                                            @if (Model.IsActive)
                                            {
                                                <button class="btn-success btn" onclick=InactiveMessage(@Model.Id) style="cursor:pointer;">Active</button>
                                            }
                                            else
                                            {
                                                <button class="btn-danger btn" onclick=ActiveMessage(@Model.Id) style="cursor:pointer;">In-Active</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-4 col-sm-12">
                                        <label>First Name</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Last Name</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Email</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Phone Number</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" value="@Model.PhoneNumberStr" disabled="">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <label>Company Name</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-4 col-sm-12">
                                        <label>Trading License Number</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.TradingLicense, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Tin</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Tin, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label>Registrant Id</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.RegistrantId, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-4 col-sm-12">
                                        <label>Factoring Services</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" value="@Model.FactoringService" disabled="">
                                        </div>
                                    </div>
                                    @*<div class="col-md-4 col-sm-12">
                                            <label>Commodity Groups</label>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.CommodityGroups, new { @class = "form-control", disabled = "" })
                                            </div>
                                        </div>*@<div class="col-md-4 col-sm-12">
                                        <label></label>
                                        <div class="form-group">
                                        </div>
                                    </div><div class="col-md-4 col-sm-12">
                                        <label></label>
                                        <div class="form-group">
                                        </div>
                                    </div><div class="col-md-4 col-sm-12">
                                        <label></label>
                                        <div class="form-group">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label></label>
                                        <div class="form-group">
                                        </div>
                                    </div>
                                </div>
                                <div style="float:right; padding:20px">
                                    <button onclick="openLocation()" type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="documents">
                            <div class="tbl-content">
                                <div class="portlet-body table-responsive" id="divCarrierDocumentsTable">
                                    <table class="table table-striped table-bordered table-hover" id="CarrierDocumentsTable"></table>
                                </div>
                            </div>
                        </div>
                        @*<div class="tab-pane" id="trucks">
                                <div class="tbl-content">
                                    <div class="portlet-body table-responsive" id="divTruckServicesTable">
                                        <table class="table table-striped table-bordered table-hover" id="TruckServicesTable"></table>
                                    </div>
                                </div>
                            </div>*@<div class="tab-pane" id="trucks">
                            <div class="tbl-content">
                                <div class="portlet-body table-responsive" id="divTruckServicesTable">
                                    <table class="table table-striped table-bordered table-hover" id="TruckServicesTable"></table>
                                </div>
                            </div>
                        </div><div class="tab-pane" id="trucks">
                            <div class="tbl-content">
                                <div class="portlet-body table-responsive" id="divTruckServicesTable">
                                    <table class="table table-striped table-bordered table-hover" id="TruckServicesTable"></table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="destinations">
                            <div class="tbl-content">
                                <div class="portlet-body table-responsive" id="divPreferredDestinationsTable">
                                    <table class="table table-striped table-bordered table-hover" id="PreferredDestinationsTable"></table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="plans">
                            <div class="tbl-content">
                                <div class="portlet-body table-responsive" id="divplansTable">
                                    <table class="table table-striped table-bordered table-hover" id="plansTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>


}
@section Scripts {
    <script>
    jQuery(document).ready(function () {
        //TableDatatablesTruckServices.init();
        TableDatatablesCarrierDocuments.init();
        TableDatatablesPreferredDestinations.init();
        TableDatatablesPlans.init();
    });

    function openLocation() {
        window.location.href = '@Url.Action(Actions.Index, Controllers.Carriers, new { Area = "" })';
    }
    var TableDatatablesTruckServices = function () {

        var initTruckServicesTable = function () {

            var table = $('#TruckServicesTable');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                //"scrollX": true,
                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindCarrierTrucksData, Controllers.Carriers, new { area =""})',
                    type: "post",
                    data: BuildSearchCriteria2()
                },
                "columns": [
                    { "title": "Service Name", "data": "Services", "orderable": false, "width": "5%" },
                    { "title": "Sub Service Name", "data": "SubServices", "orderable": false, "width": "5%" },
                    { "title": "Created On", "data": "CreatedDateStr", "orderable": false, "width": "5%" },
                    { "title": "Updated On", "data": "UpdatedDateStr", "orderable": false, "width": "5%" },

                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                "buttons": [
                        {
                            //text: 'Delete Selected Shippers',
                            //className: 'addDelete',
                            //action: function (e, dt, node, config) {
                            //    //dt.ajax.reload();
                            //    ConfirmMessage();
                            //}
                        }
                ],

                // setup responsive extension: http://datatables.net/extensions/responsive/
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20,1000],
                    [5, 10, 15, 20,1000] // change per page values here
                ],
                // set the initial value

                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                // So when dropdowns used the scrollable div should be removed.
                //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            });
        }

        return {

            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable("#TruckServicesTable")) {
                    $('#TruckServicesTable').dataTable().fnDestroy();
                    $('#divTruckServicesTable').html('<table class="table table-striped" width="100%" id="TruckServicesTable"></table>');
                }
                initTruckServicesTable();
            }
        };

    }();

    var TableDatatablesCarrierDocuments = function () {

        var initCarrierDocumentsTable = function () {

            var table = $('#CarrierDocumentsTable');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                //"scrollX": true,
                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindCarrierDocumentsData, Controllers.Carriers, new { area =""})',
                    type: "post",
                    data: BuildSearchCriteria2()
                },
                "columns": [
                    {"title": "Document Name", "data": "DocumentName", "orderable": false, "width": "5%"},
                    {
                        "title": "View","class":"actionIcon",
                        "data": null,
                        "render": function (data, type, row) {
                            var appendstring = '';
                            appendstring += '<a target="_blank" href="' + row["UrlStr"] + '" style="color: #007BFE;">View</a>';
                            return appendstring;
                        }, "width": "3%", "orderable": false,"class": "action-icons"
                    },
                    { "title": "Uploaded Date", "data": "CreatedDateStr", "orderable": false, "width": "5%" }
                ],
    // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                    {
                        //text: 'Delete Selected Documents',
                        //className: 'addDelete',
                        //action: function (e, dt, node, config) {
                        //    //dt.ajax.reload();
                        //    ConfirmMessage();
                        //}
                    }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
        responsive: true,

        "lengthMenu": [
            [5, 10, 15, 20,1000],
            [5, 10, 15, 20,1000] // change per page values here
        ],
        // set the initial value

        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
        // So when dropdowns used the scrollable div should be removed.
        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#CarrierDocumentsTable")) {
                $('#CarrierDocumentsTable').dataTable().fnDestroy();
                $('#divCarrierDocumentsTable').html('<table class="table table-striped" width="100%" id="CarrierDocumentsTable"></table>');
            }
            initCarrierDocumentsTable();
        }
    };

    }();

        var TableDatatablesPreferredDestinations = function () {

            var initPreferredDestinationsTable = function () {

                var table = $('#PreferredDestinationsTable');

                var oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    //"scrollX": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.BindCarrierPreferredDestData, Controllers.Carriers, new { area =""})',
                        type: "post",
                        data: BuildSearchCriteria2()
                    },
                    "columns": [
                        {"title": "Country", "data": "Country","orderable": false, "width": "5%"},
                        { "title": "Created Date", "data": "CreatedDateStr", "orderable": false, "width": "5%" }
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                            {
                                //text: 'Delete Selected Documents',
                                //className: 'addDelete',
                                //action: function (e, dt, node, config) {
                                //    //dt.ajax.reload();
                                //    ConfirmMessage();
                                //}
                            }
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [5, 10, 15, 20,1000],
                        [5, 10, 15, 20,1000] // change per page values here
                    ],
                    // set the initial value

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {

                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#PreferredDestinationsTable")) {
                        $('#PreferredDestinationsTable').dataTable().fnDestroy();
                        $('#divPreferredDestinationsTable').html('<table class="table table-striped" width="100%" id="PreferredDestinationsTable"></table>');
                    }
                    initPreferredDestinationsTable();
                }
            };

        }();


    var TableDatatablesPlans = function () {

            var initPreferredDestinationsTable = function () {

                var table = $('#plansTable');

                var oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    //"scrollX": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action("BindCarrierPricingPlan", Controllers.Carriers, new { area =""})',
                        type: "post",
                        data: BuildSearchCriteria2()
                    },
                    "columns": [
                        {"title": "Plan Name", "data": "PlanName","orderable": false, "width": "5%"},
                        { "title": "Start Date", "data": "StartDate", "orderable": false, "width": "5%" },
                        { "title": "End Date", "data": "EndDate", "orderable": false, "width": "5%" },
                        {
                          "title": "Status", "data": "",
                           "render": function (data, type, row) {
                              if (row["IsActive"]) {
                                  return '<button class="badge badge-success"style="cursor:pointer;">Plan Active</button>';
                              } else {
                                  return '<button class="badge badge-danger" style="cursor:pointer;">Plan In-Active</button>';
                              }
                           },
                          "orderable": false, "width": "3%"
                        },
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                            {
                                //text: 'Delete Selected Documents',
                                //className: 'addDelete',
                                //action: function (e, dt, node, config) {
                                //    //dt.ajax.reload();
                                //    ConfirmMessage();
                                //}
                            }
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [5, 10, 15, 20,1000],
                        [5, 10, 15, 20,1000] // change per page values here
                    ],
                    // set the initial value

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {

                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#plansTable")) {
                        $('#plansTable').dataTable().fnDestroy();
                        $('#divplansTable').html('<table class="table table-striped" width="100%" id="plansTable"></table>');
                    }
                    initPreferredDestinationsTable();
                }
            };

        }();



     function BuildSearchCriteria2() {
    try {
        var param = {};
        param["CarrierID"] = @Model.Id;
         return addRequestVerificationToken2(param);
    } catch (e) { }
    }

    function addRequestVerificationToken2(data) {
       data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
       return data;
    }
    //confirmation toaster
    function InactiveMessage(Id) {
        swal({
            title: "Are you sure ?",
            text: "You will be in-activating the carrier !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ActInact(Id, "inactivate");
        });
    }

    //confirmation toaster
    function ActiveMessage(Id) {
        swal({
            title: "Are you ?",
            text: "You will be activating the carrier !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ActInact(Id, "activate");
        });
    }


    //ajax call function
    function ActInact(rui, type) {
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.ActInact,Controllers.Carriers)',
            data: ({ CarrierId: rui }),
            dataType: 'json',
            success: function (response) {
                if (type == "inactivate") {
                    swal("In Activated !", "The carrier has been in-activated successfully.", "success");
                } else if (type == "activate") {
                    swal("Activated !", "The carrier has been activated successfully.", "success");
                }
                //TableDatatablesColreorder2.init();
                location.reload();
            },
            error: function (error) {
                if (type == "inactivate") {
                    swal("Error !", "An error occured while in-activating the carrier.", "error");
                } else if (type == "activate") {
                    swal("Error !", "An error occured while activating the carrier.", "error");
                }
                // refresh the grid.
                //TableDatatablesColreorder2.init();
                location.reload();
            }
        });
    }
    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}
