﻿@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@using CargoXpress.Entities.V1;
@Html.AntiForgeryToken()


@{
    ViewBag.Title = "Job's Route Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #f68c1f;
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .dt-buttons {
        visibility: hidden;
    }
</style>


<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2 id="headingtext"><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Job's Route</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-speedometer"></i></a>
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Jobs,new { Area=""})">Manage Jobs</a>
                <li class="breadcrumb-item active" id="breadcrum">@ViewBag.JobNo</li>
                <li class="breadcrumb-item active" id="breadcrum">Job's Route</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <div class="body">
                    <div>
                        <div id="jobcomments">
                            <form class="form-auth-small" method="post" id="frmJobComments">
                                <input type="hidden" id="Id" />
                                <div class="row clearfix form-group">
                                    <div class="col-4">
                                        <div class="form-group">                                          
                                            @Html.DropDownList("JobTruckDriverId", (IEnumerable<SelectListItem>)ViewBag.JobTruckDrivers, "Select Truck & Driver", new { @Id = "JobTruckDriverId", @class = "form-control show-tick ms select1" })
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="PickUpLocationName" name="PickUpLocationName" placeholder="Pick Up Location *" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="DropOffLocationName" name="DropOffLocationName" placeholder="Drop Off Location *" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-12">
                                        <input type="submit" id="jobCommentSave" class="btn btn-primary" style="color: white !important;background: #138496 !important;" value="Save">
                                        <button onclick="FrmJobCommentsReset()" type="button" class="btn btn-outline-secondary">Reset</button>
                                    </div>
                                </div>
                            </form>
                            <h5>Route Master</h5>
                            <div class="tbl-content">
                                <div class="portlet-body table-responsive" id="divJobCommentsTable">
                                    <table class="table table-striped table-bordered table-hover" id="JobCommentsTable"></table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix" id="routeChildSection">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <div class="body">
                    <div>
                        <h5>Route Child : <span id="PickUpLocationNameTxt"></span> -> <span id="DropOffLocationNameTxt"></span>&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" onclick="gotoLocation();">Track Location</button></h5>
                        &nbsp;
                        <br/>
                        <div id="jobcomments">
                            <form class="form-auth-small" method="post" id="frmJobCommentss">
                                <input type="hidden" id="Id" />
                                <input type="hidden" id="RouteMasterId" />
                                <div class="row clearfix form-group">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="LocationName" name="LocationName" placeholder="Location Name *" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-12">
                                        <input type="submit" id="jobCommentSaves" class="btn btn-primary" style="color: white !important;background: #138496 !important;" value="Save">
                                        <button onclick="FrmJobCommentsResets()" type="button" class="btn btn-outline-secondary">Reset</button>
                                    </div>
                                </div>
                            </form>
                            <div class="tbl-content">
                                <div class="portlet-body table-responsive" id="divJobCommentsTables">
                                    <table class="table table-striped table-bordered table-hover" id="JobCommentsTables"></table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section dashboardscripts{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A&libraries=places"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>


}
@section Scripts {
    <script>
    jQuery(document).ready(function () {
        TableDatatablesJobComments.init();
        FormJobCommentsValidation.init();

        //TableDatatablesJobCommentss.init();
        FormJobCommentsValidations.init();

        $("#routeChildSection").hide();

        google.maps.event.addDomListener(window, 'load', function () {
            
            var places = new google.maps.places.Autocomplete(document.getElementById('LocationName'));
                google.maps.event.addListener(places, 'place_changed', function() {
                var place = places.getPlace();
                var address = place.formatted_address;
               // $("#LocationName").val(address);
            });
        });
    });

    function openLocation() {
        window.location.href = '@Url.Action(Actions.Index, Controllers.Jobs, new { Area = "" })';
    }

        var TableDatatablesJobComments = function () {

            var initJobCommentsTable = function () {

                var table = $('#JobCommentsTable');

                var oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    //"scrollX": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.BindData, Controllers.RouteMaster, new { area =""})',
                        type: "post",
                        data: BuildSearchCriteria2()
                    },
                    "columns": [
                        {
                            "title": "Profile", "mData": function (data, type, dataToSet) {
                                return '<img class="rounded-circle width35" src="' + data.FileUrlStr + '"/>';
                            }, "orderable": false, "width": "5%"
                        },
                        {
                            "title": "Driver Details", "data": "",
                            "render": function (data, type, row) {
                                var htmlData = '';
                                htmlData += '<h6><i class="icon-user"></i>&nbsp;&nbsp;' + row["DriverFirstName"] + ' ' + row["DriverLastName"] + '</h6>';
                                htmlData += '<span><i class="icon-envelope-open"></i>&nbsp;&nbsp;<a href="mailto:' + row["DriverEamil"] + '">' + row["DriverEamil"] + '</a><br/><i class="icon-call-out"></i>&nbsp;&nbsp;<a href="tel:' + '+' + row["DriverCountryCode"] + ' ' + row["DriverPhoneNumber"] + '">' + '+' + row["DriverCountryCode"] + ' ' + row["DriverPhoneNumber"] + '</a></span>';
                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Truck Details", "data": "",
                            "render": function (data, type, row) {
                                var htmlData = '';
                                htmlData += '<p>' + '<b>Name: </b>' + row["TruckName"] + '</p>';
                                htmlData += '<p>' + '<b>Plate Number: </b>' + row["TruckPlateNumber"] + '</p>';
                                return htmlData;
                            }
                            , "orderable": false, "width": "5%"
                        },
                        {"title": "Pick Up Location", "data": "PickUpLocationName", "orderable": false, "width": "5%"},
                        {"title": "Drop Off Location", "data": "DropOffLocationName", "orderable": false, "width": "5%"},
                        {"title": "Created Date", "data": "CreatedDateStr", "orderable": false, "width": "5%"},
                        {"title": "Updated Date", "data": "UpdatedDateStr", "orderable": false, "width": "5%"},
                        {
                            "title": "Actions","class":"actionIcon",
                            "data": null,
                            "render": function (data, type, row) {
                                var appendstring = '';
                                appendstring += '<a href="javascript:GetRouteMasterForChild(' + row["Id"] + ')" class="btn btn-sm btn-outline-secondary" title="Add Child Routes"><i class="fa fa-eye"></i></a>';
                                appendstring += '<a href="javascript:GetJobCommentById(' + row["Id"] + ')" class="btn btn-sm btn-outline-secondary" title="Edit"><i class="fa fa-edit"></i></a>';
                                appendstring += '<a href="javascript:ConfirmMessage(' + row["Id"] + ')"  class="btn btn-sm btn-outline-secondary" title="Delete"><i class="fa fa-trash"></i></a>';

                                return appendstring;
                            },
                            "width": "3%",
                            "orderable": false,
                            "class": "action-icons"
                        }
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                            {
                                //text: 'Delete Selected Documents',
                                //className: 'addDelete',
                                //action: function (e, dt, node, config) {
                                //    //dt.ajax.reload();
                                //    ConfirmMessage();
                                //}
                            }
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [5, 10, 15, 20,1000],
                        [5, 10, 15, 20,1000] // change per page values here
                    ],
                    // set the initial value

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {

                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#JobCommentsTable")) {
                        $('#JobCommentsTable').dataTable().fnDestroy();
                        $('#divJobCommentsTable').html('<table class="table table-striped" width="100%" id="JobCommentsTable"></table>');
                    }
                    initJobCommentsTable();
                }
            };

    }();

    var TableDatatablesJobCommentss = function () {

            var initJobCommentsTable = function () {

                var table = $('#JobCommentsTables');

                var oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    //"scrollX": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 1000,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.BindDatas, Controllers.RouteMaster, new { area =""})',
                        type: "post",
                        data: BuildSearchCriteria3()
                    },
                    "columns": [
                        {
                            "title": "Location", "data": "",
                            render: function (data,type,row) {
                                return "<p><a target='_blank' href='https://www.google.com/maps/search/?api=1&query="+row["Lat"]+","+row["Long"]+"'>"+row["LocationName"]+"</a></p>"
                            }
                            , "orderable": false, "width": "5%"
                        },
                        {"title": "Distance (km)", "data": "Distance", "orderable": false, "width": "5%"},
                        {"title": "Created Date", "data": "CreatedDateStr", "orderable": false, "width": "5%"},
                        {"title": "Updated Date", "data": "UpdatedDateStr", "orderable": false, "width": "5%"},
                        {
                            "title": "Actions","class":"actionIcon",
                            "data": null,
                            "render": function (data, type, row) {
                                var appendstring = '';
                                appendstring += '<a href="javascript:GetJobCommentByIds(' + row["Id"] + ')" class="btn btn-sm btn-outline-secondary" title="Edit"><i class="fa fa-edit"></i></a>';
                                appendstring += '<a href="javascript:ConfirmMessages(' + row["Id"] + ')"  class="btn btn-sm btn-outline-secondary" title="Delete"><i class="fa fa-trash"></i></a>';

                                return appendstring;
                            },
                            "width": "3%",
                            "orderable": false,
                            "class": "action-icons"
                        }
                    ],
                    "createdRow": function(row, data, dataIndex) {
                       if (data["IsPassed"]) {
                         $(row).css("background-color", "#1bdd68");
                         $(row).addClass("warning");
                       }
                    },
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                            {
                                //text: 'Delete Selected Documents',
                                //className: 'addDelete',
                                //action: function (e, dt, node, config) {
                                //    //dt.ajax.reload();
                                //    ConfirmMessage();
                                //}
                            }
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [5, 10, 15, 20,1000],
                        [5, 10, 15, 20,1000] // change per page values here
                    ],
                    // set the initial value

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {

                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#JobCommentsTables")) {
                        $('#JobCommentsTables').dataTable().fnDestroy();
                        $('#divJobCommentsTables').html('<table class="table table-striped" width="100%" id="JobCommentsTables"></table>');
                    }
                    initJobCommentsTable();
                }
            };

        }();

     function BuildSearchCriteria2() {
    try {
        var param = {};
        param["JobId"] = @ViewBag.JobId;
         return addRequestVerificationToken2(param);
    } catch (e) { }
    }

    function BuildSearchCriteria3() {
    try {
        var param = {};
        param["RouteMasterId"] = $("#RouteMasterId").val();
         return addRequestVerificationToken2(param);
    } catch (e) { }
    }

    function addRequestVerificationToken2(data) {
       data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
       return data;
    }

    var FormJobCommentsValidation = function () {
        // basic validation
        var handleValidation = function () {

            var form1 = $('#frmJobComments');
            var error1 = $('.alert-danger', form1);

            jQuery.validator.addMethod("lettersonly", function(value, element)
            {
                return this.optional(element) || /^[a-z ]+$/i.test(value);
            }, "Text Field Only");

            form1.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    PickUpLocationName: {
                        required: true
                    },
                    DropOffLocationName: {
                        required: true
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    //success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    var cont = $(element).parent('.input-group');
                    if (cont.size() > 0) {
                        cont.after(error);
                    } else {
                        element.after(error);
                    }
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    AditJobComment();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation();
            }
        };
    }();


    var FormJobCommentsValidations = function () {
        // basic validation
        var handleValidation = function () {

            var form1 = $('#frmJobCommentss');
            var error1 = $('.alert-danger', form1);

            jQuery.validator.addMethod("lettersonly", function(value, element)
            {
                return this.optional(element) || /^[a-z ]+$/i.test(value);
            }, "Text Field Only");

            form1.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    LocationName: {
                        required: true
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    //success1.hide();
                    error1.show();
                    App.scrollTo(error1, -200);
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    var cont = $(element).parent('.input-group');
                    if (cont.size() > 0) {
                        cont.after(error);
                    } else {
                        element.after(error);
                    }
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    AditJobComments();
                }
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                handleValidation();
            }
        };
    }();

    function FrmJobCommentsReset()
    {
        $("#Id").val(0);
        $("#JobTruckDriverId").val(0);
        $("#PickUpLocationName").val('');
        $("#DropOffLocationName").val('');
    }

    function FrmJobCommentsResets()
    {
        $("#Id").val(0);
        //$("#RouteMasterId").val(0);
        $("#LocationName").val('');
    }

    function AditJobComment() {
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.Upsert,Controllers.RouteMaster)',
            data: ({ Id: $("#Id").val(), JobId: @ViewBag.JobId, JobTruckDriverId: $("#JobTruckDriverId").val(), PickUpLocationName: $("#PickUpLocationName").val(), PickUpLat: "", PickUpLong: "", DropOffLocationName: $("#DropOffLocationName").val(), DropOffLat: "", DropOffLong: ""}),
            dataType: 'json',
            success: function (response) {
                if (response.Code == 200) {
                    swal("Great!", "Saved !", "success");
                    FrmJobCommentsReset();
                    var millisecondsToWait = 500;
                    setTimeout(function () {
                        TableDatatablesJobComments.init();
                    }, millisecondsToWait);
                }
                else {
                    swal("Error !", response.Message, "error");
                }
            },
            error: function (error) {
            }
        });
    }

    function AditJobComments() {
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.Upserts,Controllers.RouteMaster)',
            data: ({Id: $("#Id").val(), RouteMasterId: $("#RouteMasterId").val(), LocationName: $("#LocationName").val()}),
            dataType: 'json',
            success: function (response) {
                if (response.Code == 200) {
                    swal("Great!", "Saved !", "success");
                    FrmJobCommentsResets();
                    var millisecondsToWait = 500;
                    setTimeout(function () {
                        TableDatatablesJobCommentss.init();
                    }, millisecondsToWait);
                }
                else {
                    swal("Error !", response.Message, "error");
                }
            },
            error: function (error) {
            }
        });
    }

    function GetJobCommentById(JobCommentId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.GetById,Controllers.RouteMaster)',
            data: ({Id: JobCommentId}),
            dataType: 'json',
            success: function (response) {
                if (response.Code == 200 && response.Item != null) {
                    $("#Id").val(response.Item.Id);
                    $("#JobTruckDriverId").val(response.Item.JobTruckDriverId);
                    $("#PickUpLocationName").val(response.Item.PickUpLocationName);
                    $("#DropOffLocationName").val(response.Item.DropOffLocationName);
                }
                else {
                    swal("Error !", "An error occured. Try Again", "error");
                }
            },
            error: function (error) {
                swal("Error !", "An error occured. Try Again", "error");
            }
        });
    }

    function GetJobCommentByIds(JobCommentId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.GetByIds,Controllers.RouteMaster)',
            data: ({Id: JobCommentId}),
            dataType: 'json',
            success: function (response) {
                if (response.Code == 200 && response.Item != null) {
                    $("#Id").val(response.Item.Id);
                    $("#RouteMasterId").val(response.Item.RouteMasterId);
                    $("#LocationName").val(response.Item.LocationName);
                }
                else {
                    swal("Error !", "An error occured. Try Again", "error");
                }
            },
            error: function (error) {
                swal("Error !", "An error occured. Try Again", "error");
            }
        });
    }

    function GetRouteMasterForChild(JobCommentId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.GetById,Controllers.RouteMaster)',
            data: ({Id: JobCommentId}),
            dataType: 'json',
            success: function (response) {
                if (response.Code == 200 && response.Item != null) {
                    $("#RouteMasterId").val(response.Item.Id);
                    TableDatatablesJobCommentss.init();
                    $("#PickUpLocationNameTxt").text(response.Item.PickUpLocationName);
                    $("#DropOffLocationNameTxt").text(response.Item.DropOffLocationName);
                    $("#routeChildSection").show();
                }
                else {
                    swal("Error !", "An error occured. Try Again", "error");
                }
            },
            error: function (error) {
                swal("Error !", "An error occured. Try Again", "error");
            }
        });
    }

    function ConfirmMessage(JobCommentId) {
        swal({
            title: "Are you sure ?",
            text: "You will be deleting the selected route master !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            DeleteJobComment(JobCommentId);
        });
    }

    function ConfirmMessages(JobCommentId) {
        swal({
            title: "Are you sure ?",
            text: "You will be deleting the selected route child !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            DeleteJobComments(JobCommentId);
        });
    }

    function DeleteJobComment(JobCommentId) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action(Actions.Delete,Controllers.RouteMaster)",
            async: false,
            data: ({ Id: JobCommentId}),
            dataType: 'json',
            success: function (response) {
                     swal("Great!", "Selected Route Master Deleted", "success");
                     TableDatatablesJobComments.init();
            },
            error: function (response) {
                swal("Opps!", "An error occured ! Please try again.", "error");
            }
        });
            }

    function DeleteJobComments(JobCommentId) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action(Actions.Deletes,Controllers.RouteMaster)",
            async: false,
            data: ({ Id: JobCommentId}),
            dataType: 'json',
            success: function (response) {
                     swal("Great!", "Selected Route Child Deleted", "success");
                     TableDatatablesJobCommentss.init();
            },
            error: function (response) {
                swal("Opps!", "An error occured ! Please try again.", "error");
            }
        });
            }

    function gotoLocation() {
        window.location.href = "@Url.Action("TruckLocation","Jobs")?JobId=" +@ViewBag.JobId+"&RouteMasterId=" + $("#RouteMasterId").val()+"";
    }

    //google.maps.event.addDomListener(window, 'load', function () {

    //             var places = new google.maps.places.Autocomplete(document.getElementById('googleAdd'));
    //                 google.maps.event.addListener(places, 'place_changed', function() {
    //                 var place = places.getPlace();
    //                 var address = place.formatted_address;
    //                 var value = address.split(",");
    //                 count=value.length;
    //                 $("#unitApt").val(value[0]);
    //                 state=value[1];
    //                 var z = state.trim().split(" ");
    //                     var i = z.length;
    //                     $("#suburb").val(z[0]);
    //                     $("#state").val(z[1]);
    //                     $("#postCode").val(z[2]);
    //                     Lat = place.geometry.location.lat();
    //                     console.log(Lat);
    //                     Long = place.geometry.location.lng();
    //                     console.log(Long);
    //             });
    //        });
    //    });
    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}
