﻿@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@using CargoXpress.Entities.V1;
@Html.AntiForgeryToken()

@model Job


@{
    ViewBag.Title = "Job's Route";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Aurora Tech Africa | @ViewBag.Title  </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css">
    <link rel="stylesheet" href="~/assets/vendor/summernote/dist/summernote.css" />
    <link rel="stylesheet" href="~/assets/vendor/dropify/css/dropify.min.css">
    <link rel="stylesheet" href="~/assets/vendor/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/assets/vendor/sweetalert/sweetalert.css" />
    <link rel="stylesheet" href="~/assets/vendor/sweetalert/sweetalert.css" />
    <link rel="stylesheet" href="~/Styles/datatables.min.css" />
    <link rel="stylesheet" href="~/Styles/datatables.bootstrap.css" />
    @*<link rel="stylesheet" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">*@
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="~/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="~/assets/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="~/assets/vendor/select2/select2.css" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/main.css">
    <link rel="stylesheet" href="~/assets/vendor/css/color_skins.css">

    <style>
        .or_logo {
            width: 149px !important;
        }

        @@media only screen and (max-width: 992px) {

            .mobile_logo {
                width: 80px !important;
            }
        }

        .checkbox2 {
            width: 25px;
            height: 25px;
        }

        thead {
            background: #f68c1f;
            color: white;
        }

        .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
            color: #e73d4a
        }

        .has-error .form-control {
            border-color: #e73d4a;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
        }

            .has-error .form-control:focus {
                border-color: #d71b29;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
            }

        .has-error .input-group-addon {
            color: #e73d4a;
            border-color: #e73d4a;
            background-color: #fbe1e3
        }

        .addDelete {
            color: black !important;
            background: #e9e9e9 !important;
        }

        .hideDelete {
            display: none !important;
        }

        .dt-buttons {
            visibility: hidden;
        }

        #map_canvas {
            width: 600px;
            height: 500px;
        }
    </style>

    @*<link rel="stylesheet" href="~/assets/validation/css/components-md.min.css" />*@


    <script src="~/assets/validation/js/jquery.min.js"></script>
    <script src="~/assets/validation/js/bootstrap.min.js"></script>
    <script src="~/assets/validation/js/jquery.blockui.min.js"></script>
</head>
<body class="theme-orange">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            @*<div class="m-t-30"><img src="~/assets/images/logo-white.png" width="48" height="48" alt="Lucid"></div>*@
            <h3>Please wait...</h3>
        </div>
    </div>
    <!-- Overlay For Sidebars -->

    <div id="wrapper">
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
                </div>

                <div class="navbar-brand">
                    <a href="#"><h5>Aurora Tech Africa</h5></a>
                    @*<img src="" style="width: 77px !important;" alt="CargoXpress Logo" class="img-responsive logo or_logo mobile_logo">*@
                </div>

                @*<div class="navbar-right">

                        <div id="navbar-menu">
                            <ul class="nav navbar-nav">
                                <li><a title="Change Password" href="@Url.Action(Actions.ChangePassword,Controllers.Admin)" class="icon-menu"><i class="icon-settings"></i></a></li>
                                <li><a title="Log Out" href="@Url.Action(Actions.Logout,Controllers.Account)" class="icon-menu"><i class="icon-login"></i></a></li>
                            </ul>
                        </div>
                    </div>*@
            </div>
        </nav>


        <div id="main-content">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-8 col-sm-12">
                            <h2 id="headingtext"><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Truck Locations</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item active" id="breadcrum">@ViewBag.JobNo - Truck Location</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div id="map_canvas"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascript -->
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A"></script>

    <script src="~/assets/bundles/vendorscripts.bundle.js"></script>
    <script src="~/assets/bundles/mainscripts.bundle.js"></script>

    <script>
        jQuery(document).ready(function () {


        });

        @*var map;
        var global_markers = [];
        var markers = [[@ViewBag.Latitude, @ViewBag.Longitude, '@ViewBag.CapturedDate']];

        var infowindow = new google.maps.InfoWindow({});

        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(40.77627, -73.910965);
            var myOptions = {
                zoom: 1,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            addMarker();
        }

        function addMarker() {
            for (var i = 0; i < markers.length; i++) {
                // obtain the attribues of each marker
                var lat = parseFloat(markers[i][0]);
                var lng = parseFloat(markers[i][1]);
                var trailhead_name = markers[i][2];

                var myLatlng = new google.maps.LatLng(lat, lng);

                var contentString = "<html><body><div><p><h2>" + trailhead_name + "</h2></p></div></body></html>";

                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: "Coordinates: " + lat + " , " + lng + " | Trailhead name: " + trailhead_name
                });

                marker['infowindow'] = contentString;

                global_markers[i] = marker;

                google.maps.event.addListener(global_markers[i], 'click', function () {
                    infowindow.setContent(this['infowindow']);
                    infowindow.open(map, this);
                });
            }
        }*@

        function initMap() {
            var flightPlanCoordinates = [];
            var flightPlanCoordinate = {};
            var slat = -8.7832;
            var slong = 34.5085;
            $.ajax({
                type: "POST",
                url: '@Url.Action("TruckLocationCo","PublicJobs")',
                data: ({ JobId: @ViewBag.JobId,RouteMasterId: @ViewBag.RouteMasterId }),
                dataType: 'json',
                success: function (response) {
                    //debugger;
                    //var map = new google.maps.Map(document.getElementById("map_canvas"), {
                    //    zoom: 3,
                    //    //center: { lat: 1.9577, lng: 37.2972 },
                    //    center: { lat: 1.9403, lng: 29.8739 }
                    //});

                    //for (var i = 0; i < response.Values.length > 0; i++) {
                    //    flightPlanCoordinate = new google.maps.LatLng(parseFloat(response.Values[i].Latitude), parseFloat(response.Values[i].Longitude));
                    //    //{ lat: parseFloat(response.Values[i].Latitude), long: parseFloat(response.Values[i].Longitude) }
                    //    flightPlanCoordinates.push(flightPlanCoordinate);
                    //    if (i == 0) {
                    //        slat = parseFloat(response.Values[i].Latitude);
                    //        slong = parseFloat(response.Values[i].Longitude);
                    //    }
                    //}

                    //if (response.Values.length > 0) {
                    //   slat = parseFloat(response.Values[0].Latitude);
                    //   slong = parseFloat(response.Values[0].Longitude);
                    //}

                    //  var map = new google.maps.Map(document.getElementById("map_canvas"), {
                    //     zoom: 10,
                    //     center: new google.maps.LatLng(slat, slong),
                    //     mapTypeId: google.maps.MapTypeId.ROADMAP
                    //  });

                    //  var infowindow = new google.maps.InfoWindow();

                    //  var marker, i;

                    //  for (i = 0; i < response.Values.length; i++) {
                    //      marker = new google.maps.Marker({
                    //      position: new google.maps.LatLng(parseFloat(response.Values[i].Latitude), parseFloat(response.Values[i].Longitude)),
                    //      map: map
                    //  });

                    //  google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    //     return function() {
                    //       infowindow.setContent("Location : "+(i+1));
                    //       infowindow.open(map, marker);
                    //     }
                    //   })(marker, i));
                    // }

                    //var flightPath = new google.maps.Polyline({
                    //  path: flightPlanCoordinates,
                    //  geodesic: true,
                    //  strokeColor: "#FF0000",
                    //  strokeOpacity: 1.0,
                    //  strokeWeight: 2
                    //});

                    //flightPath.setMap(map);

                    //if (response.Values.length > 0) {
                    //   slat = parseFloat(response.Values[0].Latitude);
                    //   slong = parseFloat(response.Values[0].Longitude);
                    //}

                    //var options = {
                    //    zoom: 5,
                    //    center: new google.maps.LatLng(slat, slong), // centered US
                    //    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    //    mapTypeControl: false
                    //};

                    //var map = new google.maps.Map(document.getElementById('map_canvas'), options);
                    //var markers = new Array();
                    // var infowindow = new google.maps.InfoWindow();
                    //for (var i = 0; i < response.Values.length; i++) {
                    //    // init markers
                    //    var marker = new google.maps.Marker({
                    //        position: new google.maps.LatLng(parseFloat(response.Values[i].Latitude), parseFloat(response.Values[i].Longitude)),
                    //        map: map,
                    //        title: 'Click Me ' + i,
                    //        icon:'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
                    //    });

                    //    markers.push(marker);

                    //   google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    //     return function() {
                    //       infowindow.setContent("Location");
                    //       infowindow.open(map, marker);
                    //     }
                    //   })(marker, i));
                    //}

                     var locations = [
                         ['Bondi Beach', -33.890542, 151.274856, 4],
                         ['Coogee Beach', -33.923036, 151.259052, 5],
                         ['Cronulla Beach', -34.028249, 151.157507, 3],
                         ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
                         ['Maroubra Beach', -33.950198, 151.259302, 1]
                    ];


                     if (response.Values.length > 0) {
                       slat = parseFloat(response.Values[0].Latitude);
                       slong = parseFloat(response.Values[0].Longitude);
                    }


                    var map = new google.maps.Map(document.getElementById('map_canvas'), {
                      zoom: 10,
                      center: new google.maps.LatLng(slat, slong),
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                    });

                    var infowindow = new google.maps.InfoWindow();

                    var marker, i;
                    debugger;
                    for (i = 0; i < response.Values.length; i++) {
                        debugger;
                      marker = new google.maps.Marker({
                        position: new google.maps.LatLng(parseFloat(response.Values[i].Latitude), parseFloat(response.Values[i].Longitude)),
                        map: map
                      });

                      google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                          infowindow.setContent('TEST');
                          infowindow.open(map, marker);
                        }
                      })(marker, i));
                    }

                },
                error: function (error) {

                }
            });
        }




        //function initMap() {
        //  var map = new google.maps.Map(document.getElementById("map_canvas"), {
        //    zoom: 3,
        //    center: { lat: 0, lng: -180 },
        //    mapTypeId: "terrain"
        //  });

        //  var flightPlanCoordinates = [
        //    { lat: 37.772, lng: -122.214 },
        //    { lat: 21.291, lng: -157.821 },
        //    { lat: -18.142, lng: 178.431 },
        //    { lat: -27.467, lng: 153.027 }
        //  ];
        //  var flightPath = new google.maps.Polyline({
        //    path: flightPlanCoordinates,
        //    geodesic: true,
        //    strokeColor: "#FF0000",
        //    strokeOpacity: 1.0,
        //    strokeWeight: 2
        //  });

        //  flightPath.setMap(map);
        //}

        window.onload = initMap;
    </script>

    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
    @Html.Raw(ViewBag.openPopup)
</body>
</html>

