﻿@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@using CargoXpress.Entities.V1;
@Html.AntiForgeryToken()


@{
    ViewBag.Title = "Truck Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #f68c1f;
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .addServices {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    /*.dt-buttons {
        visibility: hidden;
    }*/

    .addData {
        color: white !important;
        background: #138496 !important;
    }
</style>


<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2 id="headingtext"><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Truck Services</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-speedometer"></i></a>
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.TruckServices,new { Area=""})">TruckServices</a>

            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <input type="hidden" id="checklog" />
                        <div class="tools col-md-12"></div>
                    </div>
                    <div class="portlet-body" id="divCustomerTable">
                        <table class="table table-striped table-bordered table-hover" id="CustomerTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="upsert" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="smallModalLabel">Truck Services</h6>
            </div>

            <div class="modal-body">
                <form class="form-auth-small" method="post" id="frmClient">
                    <div class="row clearfix">
                        <input type="hidden" id="Id" />
                        <div class="col-md-4 col-sm-12">
                            <label>Truck Type</label>
                            <div class="form-group">
                                @Html.DropDownList("ParentId", (IEnumerable<SelectListItem>)ViewBag.TruckType, "Select Truck Type", new { @Id = "ParentId", @class = "form-control show-tick ms select2" })
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <label>Services Name</label>
                            <div class="form-group">
                                <input type="text" id="Name" name="Name" class="form-control" placeholder="Enter Services Name *">
                            </div>
                        </div>

                        <div class="col-12" style="text-align:right;">
                            <input type="submit" id="Save" class="btn btn-primary saveBtn" value="Save">
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <button type="button" class="btn btn-secondary closeBtn" onclick="CloseUpsert();" id="Close">Close</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="by_trucktypesearch" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Advance Search</h6>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div>
                                <div class="row clearfix">                                   
                                    <div class="col-md-6 col-sm-12">
                                        <label>Truck Type</label>
                                        <div class="form-group ">
                                            @Html.DropDownList("SearchParentId", (IEnumerable<SelectListItem>)ViewBag.TruckType, "All Truck Type", new { @Id = "SearchParentId", @class = "form-control show-tick ms select1" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary saveBtn" onclick="TruckTypeSearch();">Search</button>
                    <button class="btn btn-primary loading" type="button" disabled="" style="        display: none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Searching...
                    </button>
                    <button type="button" class="btn btn-secondary closeBtn" onclick="TruckTypeReset();">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>


}
@section Scripts {
    <script>
        jQuery(document).ready(function () {
          $("#Id").val(@ViewBag.Id);
        TableDatatablesColreorder.init();
        FormClientValidation.init();
    });


        var TableDatatablesColreorder = function () {

             var initTable1 = function () {
        var table = $('#CustomerTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindData, Controllers.TruckServices, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                { "title": "Truck Type", "data": "TruckType", "orderable": false, "width": "5%" },
                { "title": "Truck Services", "data": "Name", "orderable": false, "width": "5%" },
               
                        {
                            "title": "Action",
                            "data": null,
                            "render": function (data, type, row) {
                                var appendstring = '';
                                appendstring += '<a onclick=OpenAddNewItem(' + row["Id"] + ') class="btn btn-sm btn-outline-secondary" style="cursor:pointer;" title="Edit Truck Services"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;';

                                return appendstring;
                            },
                            "width": "3%",
                            "orderable": false,
                            "class": "action-icons"
                        }
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                    "buttons": [
                        {
                            text: 'Add Truck Services',
                            className: 'addServices',
                            action: function (e, dt, node, config) {
                                OpenAddNewItem();
                            }
                        },
                        {
                            text: 'Advance Search',
                            className: 'addFilters',
                            action: function (e, dt, node, config) {
                                //dt.ajax.reload();
                                OpenTruckTypeFilters();
                            }
                        }
                    ],

                    // setup responsive extension: http://datatables.net/extensions/responsive/
                    responsive: true,

                    "lengthMenu": [
                        [5, 10, 15, 20,1000],
                        [5, 10, 15, 20,1000] // change per page values here
                    ],
                    // set the initial value

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {

                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#CustomerTable")) {
                        $('#CustomerTable').dataTable().fnDestroy();
                        $('#divCustomerTable').html('<table class="table table-striped" width="100%" id="CustomerTable"></table>');
                    }
                    initTable1();
                }
            };
    }();

  function BuildSearchCriteria() {
    try {
        var param = {};
        debugger;
        param["ParentId"] = $("#SearchParentId").val();
         return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        function OpenTruckTypeFilters() {
            $("#by_trucktypesearch").modal("show");
        }

        function TruckTypeSearch() {
            $("#by_trucktypesearch").modal("hide");
            TableDatatablesColreorder.init();
        }

        function TruckTypeReset() {
            $("#SearchParentId").val(0);
            $("#by_trucktypesearch").modal("hide");
            TableDatatablesColreorder.init();
        }

        var FormClientValidation = function () {

            // basic validation
            var handleValidation = function () {

                var form1 = $('#frmClient');
                var error1 = $('.alert-danger', form1);

                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {

                        Name: {
                            required: true,
                        },
                        ParentId: {
                            required: true,
                        },
                     },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        //success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    errorPlacement: function (error, element) { // render error placement for each input type
                        var cont = $(element).parent('.input-group');
                        if (cont.size() > 0) {
                            cont.after(error);
                        } else {
                            element.after(error);
                        }
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                    },

                    submitHandler: function (form) {
                        Upsert();
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation();
                }
            };
        }();


          function OpenAddNewItem(Id) {
            if (Id > 0) {
                $("#smallModalLabel").text("Edit Truck Services");
                $("#Id").val(0);
                $(".saveBtn").show();
                $(".loading").hide();
                $(".closeBtn").show();

                $.ajax({
                      type: 'POST',
                      url: "@Url.Action(Actions.GetById, Controllers.TruckServices)",
                      async: false,
                      data: ({Id: Id}),
                      dataType: 'json',
                    success: function (response) {
                        if (response != null && response.Code == 200 && response.Item != null) {
                            $("#Id").val(response.Item.Id);
                            $("#Name").val(response.Item.Name);
                            $("#ParentId").val(response.Item.ParentId);
                            $('#upsert').modal('show');
                        }
                      },
                    error: function (response) {
                          CloseUpsert();
                      }
                });

            } else {
                $("#smallModalLabel").text("Add Truck Services");
                $("#Id").val(0);
                $(".saveBtn").show();
                $(".loading").hide();
                $(".closeBtn").show();
                $('#upsert').modal('show');
            }
        }

          function Upsert() {
            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();
            $.ajax({
                      type: 'POST',
                      url: "@Url.Action(Actions.Upsert,Controllers.TruckServices)",
                      async: false,
                      data: ({ Id: $("#Id").val(), Name: $("#Name").val(), ParentId: $("#ParentId").val()}),
                      dataType: 'json',
                      success: function (response) {
                          if (response.Code == 200) {
                              CloseUpsert();
                              swal("Great!", "Details Saved !", "success");
                              TableDatatablesColreorder.init();
                          } else {
                              swal("Oops!", response.Message, "error");
                              CloseUpsert();
                          }
                      },
                error: function (response) {
                    swal("Opps!", "An error occured ! Please try again.", "error");
                    CloseUpsert();
                      }
                });
        }




          function CloseUpsert() {
              $("#Id").val(0);
              $("#Name").val('');
              $(".saveBtn").show();
              $(".loading").hide();
              $(".closeBtn").show();
              $("#upsert").modal("hide");

          }



    </script>





    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}
