﻿@using CargoXpress.Common;
@using CargoXpress.Pages;

  
    <ul class="main-menu metismenu">
        <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})" id="Dashboard"><i class="icon-speedometer"></i><span>Dashboard</span></a></li>
        <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Shippers,new { Area=""})" id="Shippers"><i class="fa fa-address-card"></i>Shippers</a></li>
        <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Carriers,new { Area=""})" id="Carriers"><i class="fa fa-list-alt"></i>Carriers</a></li>
        <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Jobs,new { Area=""})" id="Jobs"><i class="fa fa-briefcase"></i>Jobs</a></li>
        <li class="custom"><a href="@Url.Action(Actions.Index,"TruckServices",new { Area=""})" id="TruckServices"><i class="fa fa-truck"></i>Truck Services</a></li>
        <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.MasterPricingPlans,new { Area=""})" id="PricingPlans"><i class="fa fa-usd"></i>Manage Pricing Plans</a></li>
        <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.Support,new { Area=""})" id="Support"><i class="fa fa-ticket"></i>Support Tickets</a></li>
        <li class="custom"><a href="@Url.Action(Actions.Index,"JobsFinder",new { Area=""})" id="QuickTracking"><i class="fa fa-location-arrow"></i>Quick Tracking</a></li>
        <li class="custom"><a href="@Url.Action("DriverLocation","JobsFinder",new { Area=""})" id="DriverLocation"><i class="fa fa-location-arrow"></i>Driver Tracking</a></li>
        <li class="custom"><a href="@Url.Action(Actions.Index,Controllers.TransactionReport,new { Area=""})" id="TransactionReport"><i class="fa fa-usd"></i>Transaction Report</a></li>
    </ul>


