﻿@{
    ViewBag.Title = "Sample for Grid & Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@Html.AntiForgeryToken()

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #000;
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display:none !important;
    }
</style>

<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2 id="headingtext"><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Sample</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home,new { Area=""})"><i class="icon-home"></i></a>
                <li class="breadcrumb-item active" id="breadcrum">Sample</li>
            </ul>
        </div>
    </div>
</div>


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="body">
                <form class="form-auth-small" method="post" id="frmuser">
                    <div class="row clearfix">
                        <input type="hidden" id="Id" />
                        
                            <div class="col-md-4 col-sm-12">
                                <label>Id</label>
                                <div class="form-group">
                                    <input type="text" id="LocationId" name="LocationId" class="form-control" placeholder="Enter Id *">
                                </div>
                            </div>
                        

                            <div class="col-md-4 col-sm-12">
                                <label>Location</label>
                                <div class="form-group">
                                    <input type="text" id="LocationName" name="LocationName" class="form-control" placeholder="Enter Location *">
                                </div>
                            </div>

                        @*<div class="col-md-4 col-sm-12">
                            <label>State</label>
                            <div class="form-group">
                                @Html.Raw(@Html.DropDownList("StateId", (IEnumerable<SelectListItem>)ViewBag.States, "Select State", new { @Id = "StateId", @class = "form-control show-tick ms select2", disabled = "disabled" }).ToString().Replace("disabled=\"disabled\"", (ProjectSession.UserType == 1 ? "" : "disabled=\"disabled\"")))
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <label>Service Type</label>
                            <div class="form-group">
                                @Html.Raw(@Html.DropDownList("ServiceTypeId", (IEnumerable<SelectListItem>)ViewBag.ServiceTypes, "Select Service Type", new { @Id = "ServiceTypeId", @class = "form-control show-tick ms select2", disabled = "disabled" }).ToString().Replace("disabled=\"disabled\"", (ProjectSession.UserType == 1 ? "" : "disabled=\"disabled\"")))
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Bar Type</label>
                            <div class="form-group">
                                @Html.Raw(@Html.DropDownList("BarTypeId", (IEnumerable<SelectListItem>)ViewBag.BarTypes, "Select Bar Type", new { @Id = "BarTypeId", @class = "form-control show-tick ms select2", disabled = "disabled" }).ToString().Replace("disabled=\"disabled\"", (ProjectSession.UserType == 1 ? "" : "disabled=\"disabled\"")))
                            </div>
                        </div>*@
                        @*<br/>
                        <div class="header">
                            <h3> Listing </h3>
                        </div>*@

                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <input type="hidden" id="checklog2" />
                                    <div class="tools col-md-12"></div>
                                </div>
                                <div class="portlet-body" id="divWineTable">
                                    <table class="table table-striped table-bordered table-hover" id="WineTable"></table>
                                </div>
                            </div>
                        </div>
                        


                        
                            <div class="col-12" style="text-align:right;">
                                <input type="submit" id="userSave" class="btn btn-primary" style="color: white !important;background: #138496 !important;" value="Save">
                                <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Saving...
                                </button>
                                <a href="@Url.Action(Actions.Index,Controllers.Home,new { Area = ""})" class="btn btn-secondary closeBtn" id="userClose">Cancel</a>
                            </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}


@section Scripts {
    <script>
    jQuery(document).ready(function () {
         $("#Id").val(@ViewBag.Id);
        @*if (@ViewBag.Id > 0) {
            GetById();
        }*@
        FormuserValidation.init();
        TableDatatablesColreorder2.init();
    });

    var TableDatatablesColreorder2 = function () {

    var initTable2 = function () {
        var table = $('#WineTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 1000,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindLocationData, Controllers.Home, new { area =""})',
                type: "post",
                data: BuildSearchCriteria2()
            },
            "columns": [
                {
                    "title": "<input type='checkbox' id='select_all2' class='checkbox2'>", "data": "",
                    "render": function (data, type, row) {
                        if (row["IsChecked"]) {
                            return '<input type="checkbox" value="' + row["Id"] +'" class="md-check child2 checkbox2" checked>';
                        } else {
                            return '<input type="checkbox" value="' + row["Id"] +'" class="md-check child2 checkbox2">';
                        }
                    }
                    , "orderable": false, "width": "1%"
                },
                { "title": "Wine Name", "data": "WineName", "orderable": false, "width": "5%" },
                { "title": "Varital Name", "data": "MasterVarietalName", "orderable": false, "width": "5%" },
                { "title": "Calories", "data": "Calories", "orderable": false, "width": "5%" },
                { "title": "Distributor", "data": "MasterDistributorName", "orderable": false, "width": "5%" },
                { "title": "Tier", "data": "TierName", "orderable": false, "width": "5%" },
                @*{
                    "title": "Edit","class":"actionIcon",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (@ProjectSession.UserType == 1) {
                            appendstring += '<a href="@Url.Action(Actions.Index,Controllers.Wine)?Id='+row["Id"]+'" class="btn btn-sm btn-outline-secondary" title="Edit Details"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;';
                        } else {
                            appendstring += '<a href="@Url.Action(Actions.Index,Controllers.Wine)?Id='+row["Id"]+'" class="btn btn-sm btn-outline-secondary" title="View Details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                        }

                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }*@
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                 {
                    text: 'Delete Selected Wines',
                    className: 'addDelete',
                    action: function (e, dt, node, config) {
                        //dt.ajax.reload();
                        ConfirmMessage();
                    }
                }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#WineTable")) {
                $('#WineTable').dataTable().fnDestroy();
                $('#divWineTable').html('<table class="table table-striped" width="100%" id="WineTable"></table>');
            }
            initTable2();
        }
    };

    }();

    function BuildSearchCriteria2() {
    try {
        var param = {};
        //param["LocationId"] = @ViewBag.Id;
         return addRequestVerificationToken2(param);
    } catch (e) { }
    }

    function addRequestVerificationToken2(data) {
       data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
       return data;
    }

    var FormuserValidation = function () {
            // basic validation
            var handleValidation = function () {

                var form1 = $('#frmuser');
                var error1 = $('.alert-danger', form1);

                jQuery.validator.addMethod("lettersonly", function(value, element) 
                {
                return this.optional(element) || /^[a-z ]+$/i.test(value);
                }, "Text Field Only");

                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        LocationId: {
                            required: true,
                            number : true
                        },
                        LocationName: {
                            required: true
                        },
                        StateId: {
                            required: true,
                        },
                        ServiceTypeId: {
                            required: true,
                        },
                        BarTypeId: {
                            required: true,
                        },
                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        //success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    errorPlacement: function (error, element) { // render error placement for each input type
                        var cont = $(element).parent('.input-group');
                        if (cont.size() > 0) {
                            cont.after(error);
                        } else {
                            element.after(error);
                        }
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                    },

                    submitHandler: function (form) {
                        Adituser();
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation();
                }
            };
    }();

     function ConfirmMessage() {
            swal({
                title: "Are you sure ?",
                text: "You will be deleting the selected wines from the location !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                    Delete();
            });
    }

    function Delete() {
        getCheckedBoxesData2();
        @*$.ajax({
            type: 'POST',
            url: "@Url.Action(Actions.DeleteSelectedWinesFromLocation,Controllers.Location)",
            async: false,
            data: ({ LocationId: $("#Id").val(), WineIds: $("#checklog2").val() }),
            dataType: 'json',
            success: function (response) {
                if (response == "200") {
                    swal("Great!", "Selected Wines Deleted", "success");
                    TableDatatablesColreorder2.init();
                } else {
                    swal("Oops!", response.Message, "error");
                    CloseUpsert();
                }
            },
            error: function (response) {
                swal("Opps!", "An error occured ! Please try again.", "error");
                  }
            });*@
    }
   
    function Adituser() {
        @*$("#userSave").hide();
        $("#userClose").hide();
        $(".loading").show();
        getCheckedBoxesData2();
        debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.Upsert,Controllers.Location)',
            data: ({Id: $("#Id").val(),LocationId: $("#LocationId").val(),LocationName: $("#LocationName").val(),StateId: $("#StateId").val(),ServiceTypeId: $("#ServiceTypeId").val(),BarTypeId: $("#BarTypeId").val(),WineIds:$("#checklog2").val()}),
            dataType: 'json',
            success: function (response) {
                if (response.Code == 200) {
                    swal("Great!", "Details Saved !", "success");
                    var millisecondsToWait = 500;
                    setTimeout(function () {
                        window.location.href= '@Url.Action(Actions.Index, Controllers.Home, new { Area = "" })';
                    }, millisecondsToWait);
                }
                else {
                    swal("Error !", response.Message, "error");
                    $(".loading").hide();
                    $("#userSave").show();
                    $("#userClose").show();
                }
            },
            error: function (error) {
                $(".loading").hide();
                $("#userSave").show();
                $("#userClose").show();

                //show close button
            }
        });*@
            }

    function GetById() {
             @*$.ajax({
            type: "POST",
            url: '@Url.Action(Actions.GetById,Controllers.Location)',
            data: ({Id: $("#Id").val()}),
            dataType: 'json',
                 success: function (response) {
                     if (response.Code == 200 && response.Item != null) {
                         $("#LocationId").val(response.Item.LocationId);
                         $("#headingtext").text(response.Item.LocationName);
                         $("#breadcrum").text(response.Item.LocationName)
                         $("#LocationName").val(response.Item.LocationName);
                         $("#StateId").val(response.Item.StateId);
                         $("#ServiceTypeId").val(response.Item.ServiceTypeId);
                         $("#BarTypeId").val(response.Item.BarTypeId);
                 }
                 else {
                     swal("Error !", "An error occured. Try Again", "error");
                 }
            },
            error: function (error) {
               swal("Error !", "An error occured. Try Again", "error");
            }
        });*@
        }

        $(function () {
        $('#select_all2').on('change', function () {
            $('.child2').prop('checked', this.checked);
        });
        $('.child2').on('change', function () {
            $('#select_all2').prop('checked', $('.child2:checked').length === $('.child2').length);
        });
        });

        function getCheckedBoxesData2() {
        var data = "";
        $('.child2:checked').each(function () {
            if ($(".md-check").is(":checked")) {
                data += $(this).closest('tr').find('.child2').val() + ",";
            }
            $("#checklog2").val(data);
        });
    }

    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}