﻿@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@using CargoXpress.Entities.V1;
@Html.AntiForgeryToken()

@model Admin
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2 id="headingtext"><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Change Password</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-speedometer"></i></a>
                <li class="breadcrumb-item active" id="breadcrum">Change Password</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                @using (Html.BeginForm(Actions.ChangePassword, Controllers.Admin, new { Area = "" }, FormMethod.Post, new { @id = "frmChangePassword", @class = "text-left", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-lg-4">
                            <label>Old Password</label>
                            <div class="input-group mb-3">
                                @*<input type="Password" class="form-control" placeholder="Old Password" aria-label="Username" aria-describedby="basic-addon1">*@
                                @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", @placeholder = "Old Password", required = "required" })
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>New Password</label>
                            <div class="input-group mb-3">
                                @*<input type="Password" class="form-control" placeholder="New Password" aria-label="Username" aria-describedby="basic-addon1">*@
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @placeholder = "New Password", required = "required" })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Confirm Password</label>
                            <div class="input-group mb-3">
                                @*<input type="Password" class="form-control" placeholder="Confirm Password" aria-label="Username" aria-describedby="basic-addon1">*@
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", required = "required" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div style="float:right; padding:20px">
                        <!--<button type="button" class="btn btn-primary">Add</button>-->
                        <button type="submit" class="btn btn-primary saveBtn">Save</button>&nbsp;
                        <button class="btn btn-primary loading" type="button" disabled="" style="display:none;">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Saving...
                        </button>
                        <button onclick="openLocation()" type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        <div style="display:none" id="pwd"><p style="color:red">Passwords does't match</p></div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">


    function openLocation() {
        window.location.href ='@Url.Action(Actions.Index, Controllers.Dashboard, new { Area = "" })';
    }
        jQuery(document).ready(function () {
            ChangePassword.init();

        });

        var ChangePassword = function () {
            var handleChangePassword = function () {

                $('#frmChangePassword').validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    rules: {
                        Password: {
                            required: true,
                        },
                        ConfirmPassword: {
                            required: true
                        }
                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        //$('.alert-danger', $('#frmlogin')).show();
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label.closest('.form-group').removeClass('has-error');
                        label.remove();
                    },

                    errorPlacement: function (error, element) {
                        if (element.closest('.input-icon').size() === 1) {
                            error.insertAfter(element.closest('.input-icon'));
                        } else {
                            error.insertAfter(element);
                        }
                    },

                    submitHandler: function (form) {
                        form.submit(); // form validation success, call ajax form submit
                    }
                });

                $('#frmChangePassword input').keypress(function (e) {
                    if (e.which == 13) {

                        if ($('#frmChangePassword').validate().form()) {
                            $('#frmChangePassword').submit(); //form validation success, call ajax form submit
                        }
                        return false;
                    }
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    handleChangePassword();
                }
            };

        }();

        $('input').blur(function () {
            var pass = $('#NewPassword').val();
            var repass = $('#ConfirmPassword').val();
            if (($('#NewPassword').val().length == 0) || ($('#ConfirmPassword').val().length == 0)) {
                $('#NewPassword').css("border-color", "red");
                $(':input[type="submit"]').prop('disabled', true);
            }
            else if (pass != repass) {
                $('#NewPassword').css("border-color", "red");
                $('#ConfirmPassword').css("border-color", "red");
                $('#pwd').css("display", "block");
                $(':input[type="submit"]').prop('disabled', true);
            }
            else {
                $('#NewPassword').css("border-color", "#999999");
                $('#ConfirmPassword').css("border-color", "#999999");
                $('#pwd').css("display", "none");
                $(':input[type="submit"]').prop('disabled', false);
            }
        });
    </script>
}