﻿
@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@using CargoXpress.Entities.V1;
@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Quick Tracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #map_canvas {
        width: 600px;
        height: 500px;
    }
</style>
<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2 id="headingtext"><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Quick Tracking</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-speedometer"></i></a>
                <li class="breadcrumb-item active" id="breadcrum">Quick Tracking</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <div class="body">
                    <div id="jobcomments">
                        <form class="form-auth-small" method="post" id="frmJobComments">
                            <div class="row clearfix form-group">
                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="JobNo" placeholder="Enter Job No." />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="lat" placeholder="Enter Latitude *" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="lon" placeholder="Enter Longitude *" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="dist" placeholder="Enter Radius (KM) *" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <input type="button" onclick="processData()" class="btn btn-primary" style="color: white !important;background: #138496 !important;" value="Search">
                                    @*<button onclick="FrmJobCommentsReset()" type="button" class="btn btn-outline-secondary">Reset</button>*@
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div id="map_canvas"></div>
</div>



@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
    @*<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>*@
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A&callback=initMap&libraries=&v=weekly"
        defer></script>*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A"></script>

}


@section Scripts {
    <script>
        jQuery(document).ready(function () {


        });

       function processData() {
           initMap();
       }

        @*var map;
        var global_markers = [];
        var markers = [[@ViewBag.Latitude, @ViewBag.Longitude, '@ViewBag.CapturedDate']];

        var infowindow = new google.maps.InfoWindow({});

        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(40.77627, -73.910965);
            var myOptions = {
                zoom: 1,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            addMarker();
        }

        function addMarker() {
            for (var i = 0; i < markers.length; i++) {
                // obtain the attribues of each marker
                var lat = parseFloat(markers[i][0]);
                var lng = parseFloat(markers[i][1]);
                var trailhead_name = markers[i][2];

                var myLatlng = new google.maps.LatLng(lat, lng);

                var contentString = "<html><body><div><p><h2>" + trailhead_name + "</h2></p></div></body></html>";

                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: "Coordinates: " + lat + " , " + lng + " | Trailhead name: " + trailhead_name
                });

                marker['infowindow'] = contentString;

                global_markers[i] = marker;

                google.maps.event.addListener(global_markers[i], 'click', function () {
                    infowindow.setContent(this['infowindow']);
                    infowindow.open(map, this);
                });
            }
        }*@

        function initMap() {
            var flightPlanCoordinates = [];
            var flightPlanCoordinate = {};
            var slat = -8.7832;
            var slong = 34.5085;
            $.ajax({
                type: "POST",
                url: '@Url.Action("TruckLocationCo","JobsFinder")',
                data: ({ JobNo: $("#JobNo").val(), lat: $("#lat").val(), lon: $("#lon").val(), dist: $("#dist").val() }),
                dataType: 'json',
                success: function (response) {
                    //debugger;
                    //var map = new google.maps.Map(document.getElementById("map_canvas"), {
                    //    zoom: 3,
                    //    //center: { lat: 1.9577, lng: 37.2972 },
                    //    center: { lat: 1.9403, lng: 29.8739 }
                    //});

                    //for (var i = 0; i < response.Values.length > 0; i++) {
                    //    flightPlanCoordinate = new google.maps.LatLng(parseFloat(response.Values[i].Latitude), parseFloat(response.Values[i].Longitude));
                    //    //{ lat: parseFloat(response.Values[i].Latitude), long: parseFloat(response.Values[i].Longitude) }
                    //    flightPlanCoordinates.push(flightPlanCoordinate);
                    //    if (i == 0) {
                    //        slat = parseFloat(response.Values[i].Latitude);
                    //        slong = parseFloat(response.Values[i].Longitude);
                    //    }
                    //}

                    //if (response.Values.length > 0) {
                    //   slat = parseFloat(response.Values[0].Latitude);
                    //   slong = parseFloat(response.Values[0].Longitude);
                    //}

                    //  var map = new google.maps.Map(document.getElementById("map_canvas"), {
                    //     zoom: 10,
                    //     center: new google.maps.LatLng(slat, slong),
                    //     mapTypeId: google.maps.MapTypeId.ROADMAP
                    //  });

                    //  var infowindow = new google.maps.InfoWindow();

                    //  var marker, i;

                    //  for (i = 0; i < response.Values.length; i++) {
                    //      marker = new google.maps.Marker({
                    //      position: new google.maps.LatLng(parseFloat(response.Values[i].Latitude), parseFloat(response.Values[i].Longitude)),
                    //      map: map
                    //  });

                    //  google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    //     return function() {
                    //       infowindow.setContent("Location : "+(i+1));
                    //       infowindow.open(map, marker);
                    //     }
                    //   })(marker, i));
                    // }

                    //var flightPath = new google.maps.Polyline({
                    //  path: flightPlanCoordinates,
                    //  geodesic: true,
                    //  strokeColor: "#FF0000",
                    //  strokeOpacity: 1.0,
                    //  strokeWeight: 2
                    //});

                    //flightPath.setMap(map);

                    //if (response.Values.length > 0) {
                    //   slat = parseFloat(response.Values[0].Latitude);
                    //   slong = parseFloat(response.Values[0].Longitude);
                    //}

                    //var options = {
                    //    zoom: 5,
                    //    center: new google.maps.LatLng(slat, slong), // centered US
                    //    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    //    mapTypeControl: false
                    //};

                    //var map = new google.maps.Map(document.getElementById('map_canvas'), options);
                    //var markers = new Array();
                    // var infowindow = new google.maps.InfoWindow();
                    //for (var i = 0; i < response.Values.length; i++) {
                    //    // init markers
                    //    var marker = new google.maps.Marker({
                    //        position: new google.maps.LatLng(parseFloat(response.Values[i].Latitude), parseFloat(response.Values[i].Longitude)),
                    //        map: map,
                    //        title: 'Click Me ' + i,
                    //        icon:'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
                    //    });

                    //    markers.push(marker);

                    //   google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    //     return function() {
                    //       infowindow.setContent("Location");
                    //       infowindow.open(map, marker);
                    //     }
                    //   })(marker, i));
                    //}
                    debugger;
                     var locations = [
                         ['Bondi Beach', -33.890542, 151.274856, 4],
                         ['Coogee Beach', -33.923036, 151.259052, 5],
                         ['Cronulla Beach', -34.028249, 151.157507, 3],
                         ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
                         ['Maroubra Beach', -33.950198, 151.259302, 1]
                    ];


                     if (response.length > 0) {
                       slat = parseFloat(response[0].Latitude);
                       slong = parseFloat(response[0].Longitude);
                    }


                    var map = new google.maps.Map(document.getElementById('map_canvas'), {
                      zoom: 10,
                      center: new google.maps.LatLng(slat, slong),
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                    });

                    var infowindow = new google.maps.InfoWindow();

                    var marker, i;
                    
                    for (i = 0; i < response.length; i++) {
                        marker = new google.maps.Marker({
                        position: new google.maps.LatLng(parseFloat(response[i].Latitude), parseFloat(response[i].Longitude)),
                        map: map
                      });

                      google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                          infowindow.setContent('TEST');
                          infowindow.open(map, marker);
                        }
                      })(marker, i));
                    }

                },
                error: function (error) {

                }
            });
        }




        //function initMap() {
        //  var map = new google.maps.Map(document.getElementById("map_canvas"), {
        //    zoom: 3,
        //    center: { lat: 0, lng: -180 },
        //    mapTypeId: "terrain"
        //  });

        //  var flightPlanCoordinates = [
        //    { lat: 37.772, lng: -122.214 },
        //    { lat: 21.291, lng: -157.821 },
        //    { lat: -18.142, lng: 178.431 },
        //    { lat: -27.467, lng: 153.027 }
        //  ];
        //  var flightPath = new google.maps.Polyline({
        //    path: flightPlanCoordinates,
        //    geodesic: true,
        //    strokeColor: "#FF0000",
        //    strokeOpacity: 1.0,
        //    strokeWeight: 2
        //  });

        //  flightPath.setMap(map);
        //}

        window.onload = initMap;
    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
    <script src="~/Scripts/jquery.raty.min.js"></script>
}