﻿@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@using CargoXpress.Entities.V1;

@model Admin
@{
    ViewBag.Title = "LogIn";
    string userName = string.Empty;
    string password = string.Empty;
    Layout = "";
    if (Request.Cookies["AdminUserLogin"] != null)
    {
        userName = Convert.ToString(Request.Cookies["AdminUserLogin"].Values["UserName"]);
        password = Convert.ToString(Request.Cookies["AdminUserLogin"].Values["Password"]);
    }
}

<!doctype html>
<html lang="en">


<!-- Mirrored from www.wrraptheme.com/templates/lucid/hr/html/light/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2020 06:21:05 GMT -->
<head>
    <title>CargoXpress | Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="CargoXpress Login">
    <meta name="author" content="">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link href="~/assets/vendor/css/main.css" rel="stylesheet" />
    <link href="~/assets/vendor/css/color_skins.css" rel="stylesheet" />


</head>

<body class="theme-orange">
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    @*<div class="top">
                        <img src=""  alt="CARGO XPRESS ADMIN">
                    </div>*@
                    <div class="card">
                        <div class="header" style="text-align:center !important;">
                            <h4><i>CargoXpress</i></h4>
                            <p class="lead">Login to your account</p>
                        </div>
                        <div class="body">
                            @using (Html.BeginForm(Actions.LogIn, Controllers.Account, new { Area = "" }, FormMethod.Post, new { @id = "frmLogin", @class = "text-left", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-auth-small">
                                    <div class="form-group">
                                        <label for="signin-email" class="control-label sr-only">Email</label>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin-password" class="control-label sr-only">Password</label>
                                        @Html.PasswordFor(model => model.Password, new { @id = "password", @class = "form-control", @placeholder = "Password", required = "required" })
                                        @*<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="toggle-password" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>*@
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                    @*<div class="form-group clearfix">
                                            <label class="fancy-checkbox element-left">
                                                <input type="checkbox">
                                                <span>Remember me</span>
                                            </label>
                                        </div>*@

                                    <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                                    @*<div class="bottom">
                                            <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a href="page-forgot-password.html">Forgot password?</a></span>
                                            <span>Don't have an account? <a href="page-register.html">Register</a></span>
                                        </div>*@
                                </div>
                            }

                            @*<form class="form-auth-small" action="http://www.wrraptheme.com/templates/lucid/hr/html/light/index.html">
                                    <div class="form-group">
                                        <label for="signin-email" class="control-label sr-only">Email</label>
                                        <input type="email" class="form-control" id="signin-email" value="user@domain.com" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="signin-password" class="control-label sr-only">Password</label>
                                        <input type="password" class="form-control" id="signin-password" value="thisisthepassword" placeholder="Password">
                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="fancy-checkbox element-left">
                                            <input type="checkbox">
                                            <span>Remember me</span>
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                                    <div class="bottom">
                                        <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a href="page-forgot-password.html">Forgot password?</a></span>
                                        <span>Don't have an account? <a href="page-register.html">Register</a></span>
                                    </div>
                                </form>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->
</body>

@Html.Raw(ViewBag.openPopup)
<!-- Mirrored from www.wrraptheme.com/templates/lucid/hr/html/light/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2020 06:21:05 GMT -->
</html>

