﻿@{
    ViewBag.Title = "Manage Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@Html.AntiForgeryToken()

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #f68c1f;
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }
</style>

<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Manage Payment</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Jobs,new { Area=""})">Manage Jobs</a>
                <li class="breadcrumb-item active" id="breadcrum">@ViewBag.JobNo - Manage Payment</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <input type="hidden" id="checklog" />
                        <div class="tools col-md-12"></div>
                    </div>
                    <div class="portlet-body" id="divCustomerTable">
                        <table class="table table-striped table-bordered table-hover" id="CustomerTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="upsert" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="smallModalLabel">Payment Details</h6>
            </div>

            <div class="modal-body">
                <form class="form-auth-small" method="post" id="frmClient">
                    <div class="row clearfix">
                        <input type="hidden" id="Id" />
                        <input type="hidden" id="JobId" />
                        <div class="col-12 RecieptUpload">
                            <div class="form-group">
                                <input type="file" id="FileUpload" name="FileUpload" class="dropify">
                                <div class="mt-3"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                @Html.Raw(@Html.DropDownList("PaidByUserType", (IEnumerable<SelectListItem>)ViewBag.PaymentFromUserType, "Select Payment From", new { @Id = "PaidByUserType", @class = "form-control show-tick ms select2" }).ToString())
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                @Html.Raw(@Html.DropDownList("PaidToUserType", (IEnumerable<SelectListItem>)ViewBag.PaymentToUserType, "Select Payment To", new { @Id = "PaidToUserType", @class = "form-control show-tick ms select2" }).ToString())
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="text" id="Amount" name="Amount" class="form-control" placeholder="Amount*">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                @Html.Raw(@Html.DropDownList("Type", (IEnumerable<SelectListItem>)ViewBag.Type, "Select Type", new { String = "Type", @class = "form-control show-tick ms select2" }).ToString())
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <input type="text" id="PaymentDate" name="PaymentDate" class="form-control" placeholder="Payment Date*">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                @Html.Raw(@Html.DropDownList("IsRecieved", (IEnumerable<SelectListItem>)ViewBag.IsRecieved, "Select Status", new { String = "IsRecieved", @class = "form-control show-tick ms select2" }).ToString())
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <textarea rows="3" id="Note" name="Note" class="form-control" placeholder="Note*">
                                  </textarea>
                            </div>
                        </div>

                        @*<div class="col-md-4 col-sm-12">
            <div class="form-group">
                @Html.Raw(@Html.DropDownList("IsRecieved", (IEnumerable<SelectListItem>)ViewBag.IsRecieved, "Select Status", new { Boolean = "IsRecieved", @class = "form-control show-tick ms select2" }))
            </div>
        </div>*@

                        <div class="col-12" style="text-align:right;">
                            <input type="submit" id="Save" class="btn btn-primary saveBtn" value="Save">
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <button type="button" class="btn btn-secondary closeBtn" onclick="CloseUpsert();" id="Close">Close</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}


@section Scripts {
    <script>
        jQuery(document).ready(function () {
            $("#JobId").val(@ViewBag.JobId);
            TableDatatablesColreorder.init();
            FormClientValidation.init();
        });
        $('textarea').val($('textarea').val().trim())

        var FormClientValidation = function () {

            // basic validation
            var handleValidation = function () {

                var form1 = $('#frmClient');
                var error1 = $('.alert-danger', form1);

                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        //PaymentMaster: {
                        //    required: true,
                        //    number: true
                        //},
                        PaidByUserType: {
                            required: true,
                        },
                        Amount: {
                            required: true,
                            number : true
                        },
                        Type: {
                            required: true,
                        },
                        PaidToUserType: {
                            required: true,
                        },
                        Note: {
                            required: true,
                        },
                        PaymentDate: {
                            required: true,
                        },
                        Url: {
                            required: true,
                        },
                        IsRecieved: {
                            required: true,
                        },

                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        //success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    errorPlacement: function (error, element) { // render error placement for each input type
                        var cont = $(element).parent('.input-group');
                        if (cont.size() > 0) {
                            cont.after(error);
                        } else {
                            element.after(error);
                        }
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                    },

                    submitHandler: function (form) {
                        Upsert();
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation();
                }
            };
        }();

        var TableDatatablesColreorder = function () {

     var initTable1 = function () {
        var table = $('#CustomerTable');

        var oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindData, Controllers.PaymentMaster, new { area =""})',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                //{ "title": "JobId", "data": "JobId", "orderable": false, "width": "1%" },
                //{
                //    "title": "PaymentMasterDetails", "data": "",
                //    "render": function (data, type, row) {
                //        var htmlData = '';
                //        // htmlData += '<img src="' + row["Url"] + '" alt="No Image Found"/>';
                //        htmlData += '<p>' + '<b>NAME: ' + row["Name"] + '</b></p>';
                //        htmlData += '<p>' + '<b>Date Of Birth: </b>' + row["DateOfBirth"] + '</p>';
                //        htmlData += '<p>' + '<b>PhoneNumber: </b>' + row["Mobile"] + '</p>';
                //        htmlData += '<p>' + '<b>Piyarnugotra: </b>' + row["Piyarnugotra"] + '</p>';
                //        return htmlData;
                //    }
                //    , "orderable": false, "width": "1%"
                //},
                //{
                //    "title": "Name", "data": "",
                //    "render": function (data, type, row) {
                //        return "<b>" + row["Name"];
                //    },
                //    "orderable": false, "width": "1%"
                //},
                //{
                //    "title": "DateOfBirth", "data": "",
                //    "render": function (data, type, row) {
                //        return "<b>" + row["DateOfBirth"];
                //    },
                //    "orderable": false, "width": "1%"
                //},

                {
                    "title": "Receipt", "data": "",
                    "render": function (data, type, row) {
                        var htmlData = '';
                        htmlData += '<img class="rounded-circle width35" src="' + row["Url"] + '"/>';
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                { "title": "Paid By", "data": "PaymentFromUserType", "orderable": false, "width": "1%" },
                { "title": "Paid To", "data": "PaymentToUserType", "orderable": false, "width": "1%" },
                {
                    "title": "Amount", "data": "",
                    "render": function (data, type, row) {
                        return "<p>" + row["Currency"] + " " + row["Amount"] + "</p>";
                    },
                    "orderable": false, "width": "1%"
                },
                { "title": "Type", "data": "Type", "orderable": false, "width": "1%" },
                { "title": "Payment Date", "data": "PaymentDate", "orderable": false, "width": "1%" },
                { "title": "Note", "data": "Note", "orderable": false, "width": "1%" },
                { "title": "Created Date", "data": "CreatedDateStr", "orderable": false, "width": "5%" },



                //{
                //    "title": "Piyarnugotra", "data": "",
                //    "render": function (data, type, row) {
                //        return "<b>" + row["Piyarnugotra"];
                //    },
                //    "orderable": false, "width": "1%"
                //},
                //{ "title": "PaymentMaster", "data": "PaymentMaster", "orderable": false, "width": "1%" },
                //{
                //    "title": "Mobile", "data": "",
                //    "render": function (data, type, row) {
                //        return "<b>" + row["Mobile"] ;
                //    },
                //    "orderable": false, "width": "1%"
                //},
                //{
                //    "title": "Email", "data": "",
                //    "render": function (data, type, row) {
                //        return "<b>" + row["Email"];
                //    },
                //    "orderable": false, "width": "1%"
                //},
                //{
                //    //"title": "PaymentMaster1" ,"data": "",
                //    "render": function (data, type, row) {
                //        var htmlData = '';
                //        //htmlData += '<img class="rounded-circle width35" src="' + row["Url"] + '"/>';
                //        return htmlData;
                //    }
                //    , "orderable": false, "width": "5%"
                //},
                //{ "title": "Description", "data": "Description", "orderable": false, "width": "1%" },

                //{
                //    //"title": "Description", "data": "",
                //    "render": function (data, type, row) {
                //        var htmlData = '';
                //        htmlData += '<img class="rounded-circle width35" src="' + row["Url"] + '"/>';
                //        return htmlData;
                //    }
                //    , "orderable": false, "width": "5%"
                //},
                {
                    "title": "Status", "data": "",
                    "render": function (data, type, row) {
                        if (row["IsRecieved"]) {
                            return '<button class="badge badge-success" onclick=InactiveMessage("' + btoa(row["Id"]) + '") style="cursor:pointer;">Received</button>';
                        } else {
                            return '<button class="badge badge-danger" onclick=ActiveMessage("' + btoa(row["Id"]) + '") style="cursor:pointer;">Not-Received</button>';
                        }
                    },
                    "orderable": false, "width": "3%"
                },

               {
                    "title": "Action",
                    "data": null,
                    "render": function (data, type, row) {
                        var appendstring = '';
                        appendstring += '<a onclick=OpenAddNewItem(' + row["Id"] + ') class="btn btn-sm btn-outline-secondary" style="cursor:pointer;" title="Edit Payment Details"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;';
                        appendstring += '<a  class="btn btn-sm btn-outline-secondary" style="cursor:pointer;" onclick=ConfirmMessage("' + btoa(row["Id"]) + '") title="Delete Payment Details"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;';

                        return appendstring;
                    },
                    "width": "3%",
                    "orderable": false,
                    "class": "action-icons"
                }
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                {
                    text: 'Add New Payment',
                    className: 'addData',
                    action: function (e, dt, node, config) {
                        OpenAddNewItem();
                    }
                }

            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20,1000],
                [5, 10, 15, 20,1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }

    return {

        //main function to initiate the module
        init: function () {
            if ($.fn.DataTable.isDataTable("#CustomerTable")) {
                $('#CustomerTable').dataTable().fnDestroy();
                $('#divCustomerTable').html('<table class="table table-striped" width="100%" id="CustomerTable"></table>');
            }
            initTable1();
        }
    };

}();

        function BuildSearchCriteria() {
            try {
                var param = {};
                param["JobId"] = @ViewBag.JobId;
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        function ConfirmMessage(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be deleting the Payment Master code !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                    DeletePaymentMaster(Id);
            });
        }



        function DeletePaymentMaster(rui) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action(Actions.DeletePaymentMaster, Controllers.PaymentMaster)",
            async: false,
            data: ({ ri: rui }),
            dataType: 'json',
            success: function (response) {
                if (response == 200) {
                    swal("Great!", "Payment Master Deleted", "success");
                    TableDatatablesColreorder.init();
                } else {
                    swal("Oops!", response.Message, "error");
                    CloseUpsert();
                }
            },
            error: function (response) {
                swal("Opps!", "An error occured ! Please try again.", "error");
                  }
            });
            }

        function OpenAddNewItem(Id) {
            if (Id > 0) {
                $("#smallModalLabel").text("Edit Payment Details");
                $("#Id").val(0);
                $(".saveBtn").show();
                $(".loading").hide();
                $(".closeBtn").show();

                $.ajax({
                      type: 'POST',
                      url: "@Url.Action(Actions.GetById, Controllers.PaymentMaster)",
                      async: false,
                      data: ({Id: Id}),
                      dataType: 'json',
                    success: function (response) {
                        if (response != null && response.Code == 200 && response.Item != null) {
                            $("#Id").val(response.Item.Id);
                            $("#JobId").val(response.Item.JobId);
                            $("#PaidByUserType").val(response.Item.PaidByUserType);
                            $("#Amount").val(response.Item.Amount);
                            $("#Type").val(response.Item.Type);
                            $("#PaidToUserType").val(response.Item.PaidToUserType);
                            $("#Note").val(response.Item.Note);
                            $("#PaymentDate").val(response.Item.PaymentDate);
                            $("#Url").val(response.Item.Url);
                            $("#IsRecieved").val(response.Item.IsRecieved.toString());
                            $("#FileUpload").val('');
                            $('.RecieptUpload .dropify-wrapper .dropify-preview').css({ "display": "block" })
                            $('.RecieptUpload .dropify-wrapper .dropify-preview .dropify-render > img').remove();
                            $('.RecieptUpload .dropify-wrapper .dropify-preview .dropify-render').prepend('<img src="" />');
                            $('.RecieptUpload .dropify-wrapper .dropify-preview .dropify-render').find("img").attr("src", response.Item.Url);
                            $('#upsert').modal('show');
                        }
                      },
                    error: function (response) {
                          CloseUpsert();
                      }
                });

            } else {
                $("#smallModalLabel").text("Add Payment Details");
                $("#Id").val(0);
                $(".saveBtn").show();
                $(".loading").hide();
                $(".closeBtn").show();
                $('#upsert').modal('show');
            }
        }


         function Upsert() {
            debugger;
            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            $(".loading").show();
            var formData = new FormData();
            var file = document.getElementById("FileUpload").files[0];

            formData.append("Id", ($("#Id").val()));
             formData.append("JobId", $("#JobId").val());
             formData.append("PaidByUserType", ($("#PaidByUserType").val()));
             formData.append("Amount", ($("#Amount").val()));
             formData.append("Type", ($("#Type").val()));
             formData.append("PaidToUserType", ($("#PaidToUserType").val()));
             formData.append("Note", ($("#Note").val()));
             formData.append("PaymentDate", ($("#PaymentDate").val()));
             formData.append("IsRecieved", ($("#IsRecieved").val()));


             formData.append("uploadFile", file);

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Upsert,Controllers.PaymentMaster)',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response != null && response.Code == 200) {
                       // swal("Great!", "Details Saved !", "success");
                        //AllTomps(2,'ds');
                        $(".loading").hide();
                        $("#saveBtn").show();
                        $("#closeBtn").show();
                        $('#upsert').modal('hide');
                        CloseUpsert();
                        TableDatatablesColreorder.init();
                    } else if (response != null && (response.Code == 400 || response.Code == 403)) {
                        swal("Error !", response.Message, "error");
                        $(".loading").hide();
                        $("#saveBtn").show();
                        $("#closeBtn").show();
                    } else {
                        swal("Error !", "An error occured. Try Again", "error");
                        $(".loading").hide();
                        $("#saveBtn").show();
                        $("#closeBtn").show();
                    }
                },
                error: function (error) {
            debugger;
                    $(".loading").hide();
                    $("#saveBtn").show();
                    $("#closeBtn").show();

                    //show close button
                }
        });
        }

        function InactiveMessage(Id) {
        swal({
            title: "Are you sure ?",
            text: "You will be change payment recieved to not recieved !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ActInact(Id,"inactivate");
        });
    }

        //confirmation toaster
    function ActiveMessage(Id) {
        swal({
            title: "Are you ?",
            text: "You will be change payment not recieved to recieved!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ActInact(Id,"activate");
        });
        }


        //ajax call function
        function ActInact(rui, type) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ActInact,Controllers.PaymentMaster)',
                data: ({ ri: rui }),
                dataType: 'json',
                success: function (response) {
                    if (type == "inactivate") {
                        swal("In Activated !", "Payment Not Recieved.", "success");
                    } else if (type == "activate") {
                        swal("Activated !", "Payment Recieved successfully.", "success");
                    }
                    TableDatatablesColreorder.init();
                },
                error: function (error) {
                    if (type == "inactivate") {
                        swal("Error !", "An error occured while Payment Not Recieved.", "error");
                    } else if (type == "activate") {
                        swal("Error !", "An error occured while Payment Recieved", "error");
                    }
                    // refresh the grid.
                    TableDatatablesColreorder.init();
                }
            });
        }
        @*function Upsert() {
            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();
            $.ajax({
                      type: 'POST',
                      url: "@Url.Action(Actions.Upsert,Controllers.PaymentMaster)",
                      async: false,
                data: ({
                    Id: $("#Id").val(), JobId: $("#JobId").val(), PaidByUserType: $("#PaidByUserType").val(), Amount: $("#Amount").val(), Type: $("#Type").val(), PaidToUserType: $("#PaidToUserType").val(), Note: $("#Note").val(), PaymentDate: $("#PaymentDate").val()}),

                dataType: 'json',
                      success: function (response) {
                          if (response.Code == 200) {
                              CloseUpsert();
                              swal("Great!", "Details Saved !", "success");
                              TableDatatablesColreorder.init();
                          } else {
                              swal("Oops!", response.Message, "error");
                              CloseUpsert();
                          }
                      },
                error: function (response) {
                    swal("Opps!", "An error occured ! Please try again.", "error");
                    CloseUpsert();
                      }
                });
        }*@

        function CloseUpsert() {
        $("#Id").val(0);
        $("#JobId").val('');
        $("#PaidByUserType").val('');
        $("#Amount").val('');
        $("#Type").val('');
        $("#PaidToUserType").val('');
        $("#Note").val('');
        $("#PaymentDate").val('');
        $("#Url").val('');
        $("#IsRecieved").val('');
        $("#FileUpload").val('');
        $('.RecieptUpload .dropify-wrapper .dropify-preview').css({ "display": "none" });
        $('.RecieptUpload .dropify-wrapper .dropify-preview .dropify-render > img').remove();
        $('.RecieptUpload .dropify-wrapper .dropify-preview .dropify-render').find("img").attr("src", '');
        $(".saveBtn").show();
        $(".loading").hide();
        $(".closeBtn").show();
        $("#upsert").modal("hide");

    }
    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}