﻿@{
    ViewBag.Title = "Support Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CargoXpress.Common;
@using CargoXpress.Pages;
@using CargoXpress.Infrastructure;
@using CargoXpress.Entities.V1;
@model Support
@Html.AntiForgeryToken()

<style>
    .chat .chat-history .message:after
    {
        right:7% !important;
    }
    .chat-history
    {
        height:500px !important;
        overflow:auto;

    }
    .chat-history::-webkit-scrollbar {
      width: 5px;
      border-radius:5px;
    }
    ::-webkit-scrollbar-thumb {
        background: #EEF2E6; 
      }
</style>

<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i style="color:#007AA9 !important;" class="fa fa-arrow-left"></i></a> Support Activity</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Dashboard,new { Area=""})"><i class="icon-home"></i></a>
                <li class="breadcrumb-item active"><a href="@Url.Action(Actions.Index,Controllers.Support,new { Area=""})">Support</a></li>
                <li class="breadcrumb-item">@Model.SupportNo</li>
            </ul>
        </div>
    </div>
</div>

@*<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <div class="header">
                    <h3 style="text-align:center;" id="heading">Support Details</h3>
                </div>
                <div class="col-12" style="text-align:right;" id="buttns">
                    @if (Model.StatusId == 6)
                    {
                        <button class="badge badge-success" onclick="Solve(@Model.Id)" style="cursor:pointer;">In Process</button>
                    }
                    else
                    {
                        <button class="badge badge-info">Solved</button>
                    }
                    <div class="col-md-4 col-sm-12">
                        <label>Support No : <b>@Model.SupportNo</b></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@


<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat_app">
            <div class="people_list">
                <ul class="list-unstyled chat-list mt-2 mb-0">
                    <li>
                        <div class="about">
                            <div class="name"><h4>Carrier's Details</h4></div>
                        </div>
                    </li>
                    <li>
                        <div class="about">
                            <div class="status"><h6 style="color:white !important;"><i class="fa fa-user-circle"></i>&nbsp;&nbsp;@Model.CarrierName</h6></div>
                            <div class="status"><h6 style="color:white !important;"><i class="icon-envelope-open"></i>&nbsp;&nbsp;<a style="color:white !important;" href="mailto:@Model.CarrierEmail">@Model.CarrierEmail</a></h6></div>
                            <div class="status"><h6 style="color:white !important;"><i class="fa fa-phone"></i>&nbsp;&nbsp;<a style="color:white !important;" href="tel:@Model.CarrierPhoneNumber">@Model.CarrierPhoneNumber</a></h6></div>
                        </div>
                    </li>
                    <li>
                        <div class="about">
                            <div class="name"><h4>Job Details</h4></div>
                        </div>
                    </li>
                    <li>
                        <div class="about">
                            <div class="status"><h6 style="color:white !important;"><i class="icon-book-open"></i>&nbsp;&nbsp;<a style="color:white !important;" target="_blank" href="#">@Model.JobNumber</a></h6></div>
                            @if (Model.JobStatusId == 1)
                            {
                                <div class="status"><h6 style="color:white !important;"><i class="icon-star"></i>&nbsp;&nbsp;<button class="badge badge-info">Quote Request</button></h6></div>
                            }
                            else if (Model.JobStatusId == 2)
                            {
                                <div class="status"><h6 style="color:white !important;"><i class="icon-star"></i>&nbsp;&nbsp;<button class="badge badge-info">Quote Generation</button></h6></div>
                            }
                            else if (Model.JobStatusId == 3)
                            {
                                <div class="status"><h6 style="color:white !important;"><i class="icon-star"></i>&nbsp;&nbsp;<button class="badge badge-info">Quote Accepted</button></h6></div>
                            }
                            else if (Model.JobStatusId == 4)
                            {
                                <div class="status"><h6 style="color:white !important;"><i class="icon-star"></i>&nbsp;&nbsp;<button class="badge badge-info">Job Started</button></h6></div>
                            }
                            else if (Model.JobStatusId == 5)
                            {
                                <div class="status"><h6 style="color:white !important;"><i class="icon-star"></i>&nbsp;&nbsp;<button class="badge badge-info">Clearance In Progress</button></h6></div>
                            }
                            else if (Model.JobStatusId == 6)
                            {
                                <div class="status"><h6 style="color:white !important;"><i class="icon-star"></i>&nbsp;&nbsp;<button class="badge badge-info">Truck Assigned</button></h6></div>
                            }
                            else if (Model.JobStatusId == 7)
                            {
                                <div class="status"><h6 style="color:white !important;"><i class="icon-star"></i>&nbsp;&nbsp;<button class="badge badge-info">Truck Enroute</button></h6></div>
                            }
                            else if (Model.JobStatusId == 8)
                            {
                                <div class="status"><h6 style="color:white !important;"><i class="icon-star"></i>&nbsp;&nbsp;<button class="badge badge-info">Arrived At Destination City</button></h6></div>
                            }
                            else if (Model.JobStatusId == 9)
                            {
                                <div class="status"><h6 style="color:white !important;"><i class="icon-star"></i>&nbsp;&nbsp;<button class="badge badge-info">Arrived At Drop-Off Location</button></h6></div>
                            }
                            else if (Model.JobStatusId == 10)
                            {
                                <div class="status"><h6 style="color:white !important;"><i class="icon-star"></i>&nbsp;&nbsp;<button class="badge badge-success">Job Completed</button></h6></div>
                            }
                            else if (Model.JobStatusId == 11)
                            {
                                <div class="status"><h6 style="color:white !important;"><i class="icon-star"></i>&nbsp;&nbsp;<button class="badge badge-info">Cancelled</button></h6></div>
                            }
                        </div>
                    </li>
                   
                        <li>
                            <div class="about">
                                <div class="name"><h4>Shipper's Details</h4></div>
                            </div>
                        </li>
                        <li>
                            <div class="about">
                                <div class="status"><h6 style="color:white !important;"><i class="fa fa-user-circle"></i>&nbsp;&nbsp;@Model.ShipperName</h6></div>
                                <div class="status"><h6 style="color:white !important;"><i class="icon-envelope-open"></i>&nbsp;&nbsp;<a style="color:white !important;" href="mailto:@Model.ShipperEmail">@Model.ShipperEmail</a></h6></div>
                                <div class="status"><h6 style="color:white !important;"><i class="fa fa-phone"></i>&nbsp;&nbsp;<a style="color:white !important;" href="tel:@Model.ShipperPhoneNumber">@Model.ShipperPhoneNumber</a></h6></div>
                            </div>
                        </li>
                </ul>
            </div>
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="chat-about">
                                <h6 class="m-b-0">@Model.SupportNo</h6>
                                <small>@Model.Issue</small>
                            </div>
                        </div>
                        <div class="col-lg-6 hidden-sm text-right">
                            @if (Model.StatusId == 12)
                            {
                                <button class="badge badge-info" onclick="Solve(@Model.Id)" style="cursor:pointer;">In-Process</button>
                            }
                            else if (Model.StatusId == 13)
                            {
                                <button class="badge badge-success" onclick="UnSolve(@Model.Id)" style="cursor:pointer;">Solved</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="chat-history clearfix">
                    <ul class="m-b-0" id="messages">
                        
                    </ul>
                </div>
                @if (Model.StatusId == 12)
                {
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <input type="text" id="replytext" class="form-control" placeholder="Enter text here...">
                            <div class="input-group-prepend">
                                <span class="input-group-text" onclick="Upsert();"><i class="icon-paper-plane"></i></span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        jQuery(document).ready(function () {
            BindMessages(@Model.Id);
        });

    function Solve(Id) {
        swal({
            title: "Are you sure ?",
            text: "You will be changing the status to  solved !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ActInact(Id);
        });
    }

    function UnSolve(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be changing the status to  un-solved !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                ActInact(Id, 13);
            });
        }

    function ActInact(rui) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ActInact,Controllers.Support)',
                data: ({ ri: rui }),
                dataType: 'json',
                success: function (response) {
                    swal("Success !", "The support ticket status changed successfully.", "success");
                    window.location.reload();
                },
                error: function (error) {
                    swal("Error !", "An error occured while changing the support status.", "error");
                }
            });
            }

    function BindMessages(rui) {
        $("#replytext").val('');
        $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.BindSupportReply,Controllers.Support)',
                data: ({ ri: rui }),
                dataType: 'json',
                success: function (response) {
                    var appendString = '';
                    if (response.Values.length > 0) {
                        for (var start = 0; start < response.Values.length; start++) {
                            if (response.Values[start].UserTypeId == 2 || response.Values[start].UserTypeId == 3) {
                                appendString += '<li class="clearfix"><div class="message-data"><span class="message-data-time">'+response.Values[start].ReplyDateStr+'</span></div><div class="message my-message">' + response.Values[start].ReplyText + '</div></li>';
                            } else if (response.Values[start].UserTypeId == 1) {
                                appendString += '<li class="clearfix"><div class="message-data text-right"><span class="message-data-time">'+response.Values[start].ReplyDateStr+'</span></div><div class="message other-message float-right">' + response.Values[start].ReplyText + '</div></li>';
                            }
                        }
                    } else {
                        appendString += '<li class="clearfix"><div class="message-data text-right"></div><div class="message other-message float-right"> New Support Ticket From Carrier</div></li>';
                    }
                    $("#messages").html(appendString);
                },
                error: function (error) {
                    swal("Error !", "An error occured while fetching the messages.", "error");
                }
             });
        }
    
    function Upsert() {
        if ($("#replytext").val() != null && $("#replytext").val() != '') {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Upsert,Controllers.Support)',
                data: ({ SupportId: @Model.Id,ReplyText: $("#replytext").val() }),
                dataType: 'json',
                success: function (response) {
                    BindMessages(@Model.Id);
                },
                error: function (error) {
                    swal("Error !", "An error occured while sending the message.", "error");
                }
             });
        }
    }

    $("#replytext").keyup(function(event) {
      if (event.keyCode === 13) {
          Upsert();
      }
    });

    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}